[2016-08-16 18:10] jeffbski opened #3 "Idea: allow return of promise or observable to signal completion, enabling free dispatch"
One of the potentially confusing parts of the current API is for multi-dispatching.

For the logic to know when it is complete we need to somehow communicate that in our code.

If you dispatch an observable or use processOptions.dispatchReturn (where you can return an object, error, promise, or observable) then we can know from these when the code is done, so that works great for those use cases.

[2016-08-18 03:52] kishorevarma opened #5 "Take latest"
Hi ,

I am checking the simple example [http://jsfiddle.net/jeffbski/954g5n7h](example) , and its using `latest: true`, that means it has to cancel previous requests as per documentation.

But I observed its not cancelling the previous requests, instead its waiting until all the previous requests are completed, is it correct way , am I understanding the feature wrongly ?

[2016-08-18 16:57] jeffbski commented on #5
Thanks for asking. I'll have to find the words to make this clearer in the docs.

In order to have redux-logic cancel or take latest actively abort in-flight xhr requests you can use the rxjs ajax (instead of axios) and dispatch the observable. Then when cancel or take latest fires, those outstanding xhr requests are truly cancelled.

Here is a jsfiddle demonstrating how this works, you can see th

[2016-08-18 18:03] shauntrennery commented on #5
Which is the recommended xhr lib to use? rxjs ajax, axios or fetch? True request cancellation is not a requirement of my implementation.

[2016-08-18 18:10] jeffbski commented on #5
@shauntrennery it seems to me that axios and fetch are both quite popular and I've never run into any issues with either.

I think it comes down to personal choice, but here's my recommendation:

If you don't need xhr abort/cancel then axios or fetch. axios automatically parses json so that eliminates an extra `then` statement in your code, so I have been using that. Fetch would be my second choic

[2016-08-18 18:12] nicholaswyoung commented on #5
Personally, I use [fetch](https://developer.mozilla.org/en-US/docs/Web/API/Fetch_API), [polyfilled in the browser](https://github.com/github/fetch) where necessary. `isomorphic-fetch` is awesome if you must have universal rendering.

Then, I wrap the standards-compliant Promise API: [`Observable.fromPromise`](https://github.com/Reactive-Extensions/RxJS/blob/master/doc/api/core/operators/frompromis

[2016-08-18 18:37] jeffbski commented on #5
@nicholaswyoung is there any objective reasons that you like fetch better than axios?

I guess the fact that it is being implemented by the browser vendors means that eventually we wouldn't need the polyfill and it should support the widest set of use cases.

I know fetch is popular, so I am trying to learn exactly why it is so popular.

Not trolling here, just wanting to learn and know the trade

[2016-08-18 19:02] nicholaswyoung commented on #5
@jeffbski Here goes. I'll try to be brief. ;)

**tldr;** `fetch` is popular because it provides the flexibility of a relatively low-level API without the cruft and configuration of `XMLHTTPRequest`. Whether it moves to support the whatwg streams proposal or not, it's still the result of [significant effort in the standards community](https://developer.mozilla.org/en-US/docs/Web/API/Fetch_API/Using

[2016-08-18 19:37] jeffbski commented on #5
@nicholaswyoung Thanks. Very clear explanation, that helps a bunch.

[2016-08-18 22:07] kishorevarma commented on #5
Thanks @jeffbski , following is the sentence in READ.me  that I mentioned in my previous message.
" It also uses take latest feature that if additional FETCH_POLLS actions come in before this completes, it will simply cancel the previous requests and just use the latest."

[2016-08-18 23:03] jeffbski commented on #5
@kishorevarma Thanks, I've updated that statement in the README to now say "It also uses `take latest` feature that if additional FETCH_POLLS actions come in before this completes, it will ignore the outdated requests."

I've also added more details in the advanced section of the API doc to help explain the situation.

https://github.com/jeffbski/redux-logic/blob/master/docs/api.md#cancellation--t

[2016-08-24 18:26] jeffbski commented on #5
I guess I'll close this. If you think of any additional clarifications we can make let me know. Thanks.

[2016-08-24 18:26] #5 closed

[2016-08-24 23:40] kishorevarma commented on #5
Thanks @jeffbski

[2016-09-14 21:16] nicholaswyoung opened #8 "Add TypeScript definitions"
I'm writing an app in TypeScript, and it would be nice to have definitions to aid in syntax completion, etc.

Provided that you're open to this, I'll finish what I've written so far and submit a pull request.

[2016-09-14 21:17] jeffbski commented on #8
Absolutely. I knew that we needed it, but I'm not versed enough in TS to do it yet. So any help is appreciated.

[2016-09-17 06:37] zdila opened #9 "Logic that executes on state change"
Hello. Is there a way to configure Logic to fire when some deep state changes?

It would be a different approach where instead of running business code on `FETCH_POLLS` there would be only dispatched action like `FETCH_POLLS_START` which would set state `polls.fetching` to `true`. A Logic would run when it would detect transition of `polls.fetching` from `false` to `true`. This would bring interce

[2016-09-19 21:15] jeffbski commented on #9
I hadn't considered this use case but I don't see why it wouldn't work.

The easiest thing to do would be to create logic which listens to action type '*' (or a regex or array of action types that could possibly change the deep state you are interested in).

It would have compare the deep state to the previous state and if different trigger what ever you would want to happen and store the new stat

[2016-09-21 10:38] tehnomaag commented on #3
Yep, I can see a use for that, so one doesn't have to manually pass the `allowMore` every time and make sure to close with empty dispatch manually.

It's easy to add a `.finally(() => dispatch());` when using Bluebird promises to make sure logic ends properly, but with more standard Promises it can be a pain to make sure you call `dispatch()` in your `.catch` handlers etc.

So this change proposal

[2016-09-25 18:01] MrRoyce opened #10 "Webpack cant resolve module 'babel-runtime'"
Hi there, I've just started using this library and its going well except for an issue that I haven't been able to resolve.  I'm not sure what's causing it, but it started when I installed this library and the required RXJs libraray, and updated WebPack (1.13.2) and Babel (core 6.14) to handle the ES2016 features.

The babel-runtime is in dependencies, babel-plugin-transform-runtime is in devDepend

[2016-09-26 17:26] jeffbski commented on #10
Babel can be a little tricky to get setup properly, but I'll see if I can help you figure it out.

Typically in most of my projects these days I require as a dependency babel-core and babel-loader (for webpack), but yes you should be able to use babel-runtime along with the transform-runtime instead.

Could you point me to a repo or gist with your package.json and webpack config so I can see if I

[2016-09-26 21:29] MrRoyce commented on #10
Hi Jeff, thanks for taking a look at this.  Here are the gists:

package.json https://gist.github.com/MrRoyce/4f017e273f77181daaea63776b382c1f

webpack.config.js https://gist.github.com/MrRoyce/280063164a5f744cb0ec3ecc36be84a7

babel.prod.js https://gist.github.com/MrRoyce/3ba2f36e50cab5fc8c3c17122f8c0e6d

webpack error log https://gist.github.com/MrRoyce/a834a0da679c9073b0d6a84cb468c566

The othe

[2016-09-26 23:44] jeffbski commented on #10
Royce,

I assume that your project lives in '/Applications/MAMP/htdocs/tonight' from where webpack is looking for its files.

One of the lines in the webpack error log says that

/Applications/MAMP/htdocs/tonight/node_modules/babel-runtime doesn't exist

Can you check that this directory does exist and in it is the code for babel-runtime?

Does `npm ls` return any warnings?

For some reason it jus

[2016-09-27 01:14] MrRoyce commented on #10
Yes, the directory does exist, here is a screen shot of it.  I don't see any index.js file, but I'm not sure if that file is supposed to be there, or even how I can check to see if the index.js file is on GitHub/NPM??  I do see an index.js file in the regenerator sub-directory, should babel be using that file??

![screen shot 2016-09-26 at 9 13 04 pm](https://cloud.githubusercontent.com/assets/252

[2016-09-27 01:26] jeffbski commented on #10
Well from looking at https://github.com/babel/babel/tree/master/packages/babel-runtime it looks like in its package.json it doesn't define a main so it would default to index.js if it existed. Though maybe babel-runtime never actually is required directly, maybe it always transforms into requiring a relative path like babel-runtime/core-js/foo in which case there wouldn't need to be an index.js

T

[2016-09-27 01:39] MrRoyce commented on #10
Thanks for the quick response!

No, I never heard of babel-runtime, and never used it in my code.  I just did a quick search in my 'src' directory and it doesn't show anywhere.

If I do a search in the entire app including node_modules, the only places it shows up is in package.json?

I've thought about writing a bug on the babel page, but I'm not sure if it is a real bug or something with my conf

[2016-09-27 15:34] zdila commented on #9
Yes, it is doable as you describe but then the main feature of redux-logic is not used.

I allways wonder why almost all similar libraries execute business logic on action and only few on state change. I think that there are many usecases for executing business logic on state change.

[2016-09-27 17:59] nicholaswyoung commented on #10
@MrRoyce You enabled `regenerator` to transpile generator functions (I assume?). To my knowledge, enabling `regenerator` requires `babel-runtime` (in versions after v6).

You have two options. Disable `regenerator` (if you aren't using ES2015 Generators), or configure Babel's [Transform Runtime Plugin](https://babeljs.io/docs/plugins/transform-runtime/).

[2016-10-19 20:37] MrRoyce opened #11 "Firebase database automatic refresh dispatch not working on React Native"
Hi there,
I'm building a test app with RN that uses the redux-logic library.  I have several pieces working, but I recently ran into an issue that I can't resolve.

I'm using the firebase database 'on' event, that will automatically trigger whenever the backend database is changed.  For example, I have a db of users, and if I add a new user the event is triggered, which does a dispatch to update m

[2016-10-19 20:48] jeffbski commented on #11
Since you are wanting to do multiple dispatch there are a few ways to handle it (by default redux-logic is assuming single dispatch).

It is explained in the advanced section [here](https://github.com/jeffbski/redux-logic/blob/master/docs/api.md#dispatch---multi-dispatching-and-optional-second-argument-options)

The easiest thing to do is to add the second argument to the dispatch function to enab

[2016-10-19 20:59] MrRoyce commented on #11
Amazing, thanks for the quick and complete response.

It works perfectly.  I love using this library and Iearn more about it every day.

[2016-10-19 21:01] jeffbski commented on #11
Fantastic! You are quite welcome. It really simplifies my code too, so I am glad to be able to share it with you and others. Have a great day!

[2016-10-19 21:02] MrRoyce commented on #11
Not sure if you saw my last question?

Why isn't the 'allowMore' default set to true? Is there any downside to that?

[2016-10-19 21:39] jeffbski commented on #11
Sorry, I missed that when reading. I guess I need to slow down. :-)

Well I guess that it is primarily that way since I was thinking that most use cases would be single dispatch and I didn't want most people to have to indicate when they were done. Basically I needed to know when I can close out the underlying observable. In the case of a subscription you probably want to keep it open indefinitely

[2016-10-19 21:54] jeffbski commented on #11
I had a typo in the above which I corrected, I meant if you have `latest: true` then it will cancel old requests if a new one comes in.

So if you set `latest: true` then if somehow another  EMPLOYEES_FETCH_REQUEST action comes in, then the old observable will be cancelled. The same would be true if you set the `cancel: EMPLOYEES_FETCH_CANCEL` property.

Otherwise if multiple actions EMPLOYEES_FET

[2016-10-27 22:27] michael-wolfenden opened #12 "RX jsfiddle's - Rx.umd.js not found"
Looks like the RX umd package referenced by the RX jsfiddle samples no longer exists thus breaking the samples

https://npmcdn.com/@reactivex/rxjs@5.0.0-rc.1/dist/global/Rx.umd.js

Appears that `Rx.umd.js` has been renamed to `Rx.js` so the new url is:

https://npmcdn.com/@reactivex/rxjs@5.0.0-rc.1/dist/global/Rx.js

[2016-10-28 12:20] ivoanastacio opened #13 "redux-logic + flow best practice?"
Hi,

Currently I'm struggling with the use of Flow in combination with redux-logic because Flow does not understand that a given logic will only receive actions of a given type.

Given the following types:

[code]

This is a problem for Flow:

[code]

and this is NOT a problem for Flow:

[code]

Does anyone have a suggestion on how to best handle this?

[2016-10-28 21:05] jeffbski commented on #13
I believe I found a discussion of the same problem over in an issue on the redux repo, maybe there will be some ideas in there.

https://github.com/reactjs/redux/issues/290

[2016-10-28 21:43] jeffbski commented on #13
It looks like this PR was the result of many discussions for the flow types for Redux. It has a union of actions, so maybe this provides some clues on how to proceed. I wish I understood Flow better to be able to provide some guidance, but I am not there yet.

[2016-10-28 21:53] rob3c commented on #8
@nicholaswyoung Did you ever end up distributing your type definitions somewhere?

[2016-10-29 00:44] jeffbski commented on #12
Thanks! I have updated the fiddles using Rx. I went ahead and used the new domain name too unpkg.com, eventually I'll have to update the other resources to use unpkg.com too.

[2016-10-29 00:44] #12 closed

[2016-10-29 00:45] jeffbski commented on #11
@MrRoyce did I just confuse you worse? or are we good to close this issue? Just wanted to check. Thanks.

[2016-10-29 01:38] MrRoyce commented on #11
Everything is working great. I can't imagine writing asynchronous logic with out this library. I'm using it for a react-native app now. Thanks again for your help.

I'll close this issue.

[2016-10-29 01:38] #11 closed

[2016-10-29 01:41] jeffbski commented on #11
Fantastic!

Also let me know if #10 is still a problem for you. Thanks!!

[2016-10-29 11:10] ivoanastacio commented on #13
Hi @jeffbski

Thanks for taking the time to reply.

Adding payload to all actions would not solve it since the payload might be different from action to action, it might solve the example I gave but then fail when I tried to access a property in a payload that was an object and not a string. Also, I might be listening for actions from 3rdparty libs which I don't control like the action shape (eg.

[2016-10-29 18:48] jeffbski commented on #13
@ivoanastacio Thanks for posting the polymorphic approach.

As I learn Flow better I'll post back any other ideas I come up with, but this seems to be the best way to go for the moment. I too wish it wasn't so verbose.

[2016-10-31 22:22] MrRoyce commented on #11
Yes, unfortunately, #10 still gives the error during the production build.  The production app still works, but it will throw the error if the console is open for the page. I haven't been able to make any headway on it.  I'm hoping that when WebPack v2 goes stable and I conver to that release, that it will be fixed, although like I mentioned before, I'm not sure if it is a WebPack issue??

[2016-10-31 23:21] jeffbski commented on #11
ok, thanks for the update.

[2016-11-05 01:31] MrRoyce opened #14 "Unhandled Exception in createLogicAction$.js"
Hi there, I am seeing the attached error occurring in my React-Native app:

![img_0033](https://cloud.githubusercontent.com/assets/252359/20026630/7e9ab252-a2d4-11e6-9c24-dac0e09c0a69.PNG)

The error occurs in the following sequence

1. Log in the user which gets the data from firebase  - with allowMore: true to get continuous updates from firebase using the logic shown below.
2. Logout the user
3

[2016-11-05 01:47] jeffbski commented on #14
I think for sure you would want to set latest: true so that new requests will cancel the old ones.

You might need to also set a cancelType to the action you use to trigger logout so that it will trigger a cancellation here too.

Also you might need to use the cancelled$ to unsubscribe on cancellation/latest

Code might looks something like:

[code]

[2016-11-07 10:48] Gert25 opened #15 "Process function fails to execute when using the validate method"
Hi guys, I have been looking at this issue for an hour now and I can't seem to find the issue here.

So have piece of logic that first validates the payload before executing the process function. But when the process method executes it fails to dispatch another action. When I comment out the the validation method the process function seems to be running fine. I have tested if the process does  get

[2016-11-07 10:49] Gert25 commented on #15
Looks like the ES5 string templates are braking the code snippet...any suggestion as what to do here?

[2016-11-07 12:37] Gert25 commented on #15
Found the issue. So the problem was not with the redux logic it self...it was my own mistake. On the last else if statement in the validation method the reject function always executed so I just moved the call the reject inside the if statement and it worked.

[2016-11-07 12:37] #15 closed

[2016-11-07 20:20] jeffbski commented on #15
Awesome! I'm glad you figured it out. Have a great day.

[2016-12-13 23:31] jeffbski commented on #3
With v0.10 I introduced an easier way to deal with multiple dispatch.

It simply involves providing an extra callback `done` parameter to enable free multiple dispatch.

By including the third `done` parameter, it sets the new processOption.dispatchMultiple default to true, enabling this mode.

You can also set the processOption.dispatchMultiple to true for the same effect.

When you are done disp

[2016-12-13 23:31] #3 closed

[2016-12-16 21:53] iyn opened #16 "Custom actions equality function"
Let's say a have a logic for a generic data fetching which allows for fetching from multiple endpoints. Fetching happens after a particular action is dispatched (like `FETCH_DATA`), but action has additional metadata, for example:
[code]

I want to implement remote autocomplete (fetch more specified data as user types), so I thought of using `latest`, `debounce` etc. options with the logic. The pr

[2016-12-16 22:54] jeffbski commented on #16
Hmm. Is there a reason that you wouldn't want to use different action types for each type of fetching? That seems to be the most common way to handle things.

I guess the other question is would both of these things be occurring at the same time such that they will conflict with each? Will you actually be searching both at the same time?

I'll ponder the idea some more.

[2016-12-17 00:46] iyn commented on #16
I used to have separate logic for each data fetching types but right now I'm trying to build a generic mechanism (based on `redux-logic`) for doing that, I already have a simple MVP, currently it's tied to my API structure but I'll think about open sourcing it in the future.

You pointed the obvious (in hindsight) thing - the searches won't occur at the same time! I can envision the case when it c

[2016-12-17 00:46] #16 closed

[2016-12-17 02:05] jeffbski commented on #16
You are welcome. I appreciate taking the time to discuss these things.

[2016-12-19 14:07] shauntrennery opened #17 "Duplicate success process options calls due to options request?"
I've noticed a weird bug in an application using redux-logic. I'm using axios to post to a third party API. Using developer tools, the request shows up twice under the network tab. Options and the final post.

I suspect the success process options is triggering twice as a result of the options request.

I'm having a difficult time replicating the issue using the reqres.in service thou.

Is this a

[2016-12-19 14:44] shauntrennery commented on #17
Does not appear to be the case. I've removed the options call from axios by setting the Content-Type to application/x-www-form-urlencoded. The duplicate success process type is still occurring.

[2016-12-19 16:21] #17 closed

[2016-12-19 16:59] jeffbski commented on #17
I suspect that this is occurring from Axios (it shouldn't have anything to do with redux-logic), but I believe this is part of a normal pre-flight for CORS requests. See the pre-flight section of https://developer.mozilla.org/en-US/docs/Web/HTTP/Access_control_CORS

Basically the http client makes an OPTIONS request before it does the POST so that it can verify some things from the server. There i

[2016-12-25 09:30] tylerlong opened #18 "`dispatch` can only be invoked once in each logic?"
Check the code here: https://github.com/tylerlong/hello-async/blob/1d6d7159a4528b1af7a560ad9c8232b7e6c9493e/redux-logic/src/logics.js

I can show the notification, but cannot hide it.

I checked the examples in your repo and I find that `dispatch` is only invoked once in each logic. And I guess that's the limitation of this middleware.

[2016-12-25 09:38] tylerlong commented on #18
If I create an extra logic and move the second `dispatch` there, it works like a charm.

So I guess I am right in concluding that you can only invoke `dispatch` once in each logic.

Do you think this limitation is necessary? Do think it's a big disadvantage for this library?

[2016-12-25 10:04] tylerlong commented on #18
I tried `done`, it doesn't work:

[code]

[2016-12-25 10:08] tylerlong commented on #18
I also tried

[code]

It doesn't work either.

[2016-12-25 11:15] tylerlong commented on #18
It is trivial with RxJS:

![image](https://cloud.githubusercontent.com/assets/733544/21470869/ec1d22e6-cad5-11e6-9974-083727a778e4.png)

But this project's goal is:

I hope you this issue could help you to find a balance between abstraction and flexibility.

[2016-12-26 21:04] jeffbski commented on #18
@tylerlong Thanks for creating the issue.

I've put together a jsfiddle that shows how you might do this with redux-logic.

You would use the dispatch and done to perform multiple dispatch, otherwise it assumes a single dispatch.  I'm not sure why it didn't work for you when you tried this, but you might compare your own code against the jsfiddle or the snippet below.

http://jsfiddle.net/ezp58328

[2016-12-27 01:39] tylerlong commented on #18
@jeffbski

I tried again and it did work! I remember that I tried everything possible. Maybe I made some mistake or I forgot to compile the code or clear the cache. I've no idea what was wrong but now it works like a charm!

Here is the sample project I created: https://github.com/tylerlong/hello-async/tree/master/redux-logic  Feel free to send me PR if you want to change anything there.

Feel fre

[2016-12-27 04:48] tylerlong opened #19 "How about reusability of logic?"
For example, for a logic I created, can I reuse it without redux?

Maybe this is not a good question. Because I can always extract very common part into a separate library for reusing.

I am just wondering what do you think.

By the way, I like this library a lot. It has the potential to be come a popular one.

[2016-12-27 17:43] jeffbski commented on #19
That's an interesting question. I suppose if there was interest we could provide other adapters/middleware that would allow it to work with other flux/messaging/event bus type libraries (anything that deals with action-style messages that dispatch and have a way to observe) or even just using observables.

I'll have to ponder that a bit. It seems possible though since the actual redux API is so mi

[2016-12-27 20:22] jeffbski commented on #18
Fantastic. I'm glad it worked this time.

I like your project `hello-async`. It is really good to be able to see different ways to accomplish things side by side.

I'm going to check it out more thoroughly when I have time, but it looks like a great idea.

[2016-12-27 20:22] #18 closed

[2017-01-11 01:41] tylerlong commented on #19
You have done a good job. Recently I gave an technical sharing in my team and I went through all of the alternatives and finally ended with redux-logic: https://github.com/tylerlong/tech-sharing-redux-async

I do think at the moment it's probably the best choice.

In your example above, you don't call dispatch and return obj/promise/observable instead, then where is the final result dispatched?  I

[2017-01-11 15:33] jktravis commented on #19
I have a similar question to the above, but rather than using a logic in other places, I'd like to simply reuse it in place by dispatching actions. I have an action that involves a hierarchical calculation that I want to reuse for other actions. I know that I can dispatch multiple actions by calling `done()` at the end; however, in one scenario, I need the previous action to complete before contin

[2017-01-11 18:06] jeffbski commented on #19
@tylerlong Thanks for sharing your thoughts.

Yes with redux-logic I give you the freedom to use the JS style you and your team are most comfortable with.

So you can use:
 - callbacks
 - promises
 - async/await
 - observables

Each has its own strengths, but mostly it comes down to what you are comfortable working with for your team. Most of the other solutions force you into using things like ge

[2017-01-11 19:09] jeffbski commented on #19
@jktravis Since redux doesn't currently provide a way to know when a particular action has completed, I'd recommend the following approach.

I would put all of the real work that happens for an UPDATE_ACCOUNT into a function that returns a promise when it is done (or rejects with an error if any problems).

[code]

So all the real work is done in the API and you can easily test and call this in is

[2017-01-11 19:16] jktravis commented on #19
Fantastic. Thanks, @jeffbski. This makes a lot of sense. I guess I had overlooked the whole auto-dispatch-on-return feature.

[2017-01-11 19:18] jeffbski commented on #19
Yeah, you can do the same thing using dispatch if you prefer, but the auto-dispatching return is pretty nice IMO.

[2017-01-13 14:30] tylerlong commented on #19
One minor question about auto-dispatching:

So if promise resolve was `data`, what it dispatches will be `{ type: 'XXX_YYY', payload: data }`.

What if I don't like the name `payload`.

And for the error dispatching, are there documentation for its format? From your example above I guess it is `{ { type: ERROR, payload: err, error: true } }`.

[2017-01-14 01:33] andreawyss opened #20 "Question: example on using redux-logic inside the react-boilerplate?"
Is there and example showing how to use redux-logic inside the react-boilerplate?
The issue is that you cannot have a single rootLogic that imports all the application logic because this will prevent code splitting by route that is built into this boilerplate.

I need some help on how to replace the redux-saga with redux-logic and still maintain the code splitting intact.
Thank you

[2017-01-14 01:41] jeffbski commented on #20
I built in features that help with code splitting in the API so using `mergeNewLogic([mergeLogic])` will let you dynamically add in code split logic bundles. It even tracks the refs to the ones you have so if you happen to merge them again it will ignore the ones that you already have and only add the new ones.

So it should work great once you know how to plug it in. I can take a look at react-bo

[2017-01-14 01:51] jeffbski commented on #20
I also posted a question in the gitter chat to see if those that are familiar with the boilerplate could point us in the right directions. I can start by searching for saga in the file structure and that should turn up most of what we might need to change.

[2017-01-14 02:09] jeffbski commented on #20
Most likely most of the work will be:
 - in the store.js where we will createLogicMiddleware instead of createSagaMiddleware
 - instead of using injectSagas we will be injecting logic using mergeNewLogic
 - we won't need to do anything instead of runSaga, you don't have to run logic they are running once they are merged in.

I'll see if I can create a fork of react-boilerplate that uses redux-logi

[2017-01-14 02:32] jeffbski commented on #20
And to answer your original question you can start out with an empty array of logic if you are loading them all from split bundles.

I usually add the logicMiddleware instance (from createLogicMiddleware) as a property on store so I can access it later like `store.logicMiddleware`

Then when we want to inject new logic, we simply call store.logicMiddleware.mergeNewLogic([newLogic]); // it will eve

[2017-01-14 02:49] andreawyss commented on #20
Awesome. Thank you for helping out!

[2017-01-14 17:24] jeffbski commented on #20
It looks like this gives us a good idea what would need to change https://github.com/mxstbr/react-boilerplate/blob/master/docs/js/remove.md#removing-redux-saga

[2017-01-14 20:29] jeffbski commented on #20
@andreawyss I have forked react-boilerplate and have a working version using redux-logic instead of sagas in this branch: https://github.com/jeffbski/react-boilerplate/tree/redux-logic

I haven't changed the tests and docs yet, so that is next.

I like how much simpler the logic for HomePage looks compared to the original saga version.
 - [logic version](https://github.com/jeffbski/react-boilerpla

[2017-01-15 03:01] andreawyss commented on #20
Excellent. I will try it out on Monday. Thank you.
You should put a link in your doc to this branch so other can use it too.
react-boilerplate is one of the top 3 most popular boilerplates for React.

[2017-01-15 04:40] jeffbski commented on #20
Yeah, once it is ready, I can publish it and link to it. I want to get the
docs updated and all. I got the tests working too. And of course they just
pushed a new version 3.4 so I'll want to convert to that while it is fresh
in my mind.

We need to come up with a name for it. Ideas?

react-boilerplate-logic
react-logic-boilerplate
react-boiling-logic
react-boilerlogic
relogic-boilerplate
reactive-

[2017-01-16 17:13] andreawyss commented on #20
react-boilerplate-logic should be easier to find when searching the original base one. It is a matter of adding the right keywords so it gets discovered by the search engines.

[2017-01-16 17:15] jeffbski commented on #20
Yeah, I was coming to the same conclusion so either:

 - react-boilerplate-logic
 - react-boilerplate-redlogic

is probably good for searching.

[2017-01-16 17:23] andreawyss commented on #20
Is it a common practice to refer to redux as red?

[2017-01-16 17:25] jeffbski commented on #20
not that I have seen, so probably best to stay with the shorter react-boilerplate-logic

[2017-01-16 18:55] andreawyss commented on #20
I was able to apply your changes into my project and everything works! Thank you.
The next step would be for you to take a look at the generation of a new container:
internals/generators/container
index.js, saga.js.hsb saga.test.js.hbs

[2017-01-16 18:57] jeffbski commented on #20
excellent. Thanks for mentioning the next step (I'm only lightly familiar with react-boilerplate so it helps), I'll jump on that right after I get the tests done (I'm getting close).

Then after the code is all done we'll update the docs and such.

[2017-01-17 02:01] jeffbski commented on #20
I pushed more changes to the branch having updated tests and generators. I haven't tried running them yet but they should be ready to go.

[2017-01-17 06:18] kopax commented on #20
Hi @jeffbski , I am testing your react-boilerplate integration of redux-logic and I wonder how I could reuse my saga within the process ?

Also, I have an important need to load data before page change, is this now possible ?

[2017-01-17 08:07] kopax opened #21 "processOptions.failType and dispatch in promise doesn't work"
I am trying to throw an error in my promise chain with the following code :

[code]
The reject doesn't get caught :

    logic.js?d876:74 Uncaught (in promise) Error: It appear there is a problem with your account, please contact an administrator

This is the content of a `authService.login` :

[code]

I have the feeling that it is not possibme to dispatch within the promise.
Is it a bug or is it

[2017-01-17 10:12] kopax commented on #21
Solved it using the example in #18

Be careful, even the examples from the documentation aren't up to date

[2017-01-17 10:13] kopax opened #22 "how to perform a race condition"
[code]

Is it possible to produce a race like this saga ?

[2017-01-17 17:05] jeffbski commented on #22
If I understand the code you have presented it appears that the desired goal is to make an auth request and if in the meantime they click logout, then you would instead log them out. And possibly the reverse as well, if they are logging out and an auth request comes in, perform that instead.

That is easily accomplished in redux-logic with a cancelType declaration. I split the work done from an au

[2017-01-17 17:30] jeffbski commented on #21
@kopax Thanks for raising the issue. I believe that I need a nice usage guide that walks one through using the API and its variations. Maybe a cookbook too.

I believe the confusion lies in the fact that the API allows multiple signatures to accommodate different JS styles.

The full process signature is `process(deps, dispatch, done)` which allows for multiple dispatches.
However since it is comm

[2017-01-17 18:04] jeffbski commented on #21
In thinking more about this, I think that it would be safer for me to just show the multiple-dispatch signature since that is safer for people to get started with regardless of how they will use it. Then I can mention the other variations later.

I've started by updating the README and API doc to show using the multiple dispatch signature. I'll also go through and do the same with the examples.

[2017-01-17 18:25] jeffbski commented on #21
Given the potential confusion with the single dispatch mode, maybe it should be eliminated altogether. I'll discuss this with the other users.

[2017-01-17 19:16] kopax commented on #21
I still haven't find why my `failType: requestError` is ignored. I have to use the catch block my self.

Because I was using a finally block, it looks a bit ugly

[code]

Do you have an idea ?

[2017-01-17 19:19] andreawyss commented on #20
Only 2 tests fail:
[code]
This is due to the fact that we need to wait for the 'TRIGGER_TEST' action to be precessed by the reducer before testing the updated value in the store.

[2017-01-17 19:57] jeffbski commented on #21
I believe I understand what you are running into here. If you are using the dispatch in your process signature then the return value is ignored. The error is being caught in the promise which is returned, but then it is ignored since you are using the dispatch.

If you were to not use dispatch and just return the promise then it would work like you expect, however then you don't have a way to do m

[2017-01-17 20:09] jeffbski commented on #20
@andreawyss thanks for letting me know. They are passing on my box :-( but I think I know what is going on.

Let's double check your redux-logic version.

What version of redux-logic do you have? is it v0.11.* or v0.10.*? I had just updated it while working on the boilerplate so you could have an old version??

With v0.11 I took out an unnecessary artificial delay that was in the code that was no

[2017-01-17 22:35] andreawyss commented on #20
Updated to redux-logic v0.11.4 and all tests are passing. Thank you.

Maybe in the "internals/generators/container/logic.js.hbs" it would be nice if you include commented code sections for validation, transform and process with processOptions.
The one can easily uncomment the desired section and remove the other ones.

[2017-01-17 22:36] jeffbski commented on #20
Excellent. That's a great idea about putting in commented sections like that.

[2017-01-17 22:47] andreawyss commented on #20
Also "npm run lint" to make sure that all your changes pass the linter.

[2017-01-18 04:31] kopax commented on #22
This is fine, but what about if I also need to cancel the logics in `LOCATION_CHANGE` ?

[2017-01-18 06:15] kopax commented on #21
This is the whole `logic` :

[code]

I am currently thinking this is not as good as my sagas for readability.
Would you split that in multiple logic ? It's hard to take a decision, how would you write it ?

[2017-01-18 13:30] jeffbski commented on #22
@kopax can you give me an example use case so I can understand? Also is LOCATION_CHANGE the action which requests a route change or is it the action indicating that a route change has already occured.

[2017-01-18 13:33] jeffbski commented on #19
I believe we have discussed everything so I will close this, we can reopen if necessary

[2017-01-18 13:33] #19 closed

[2017-01-18 13:39] jeffbski commented on #10
I don't believe there is anything we need to do with redux-logic for this issue (it seems to be a webpack/babel configuration issue). I'll close it for now.

[2017-01-18 13:39] #10 closed

[2017-01-18 13:41] jeffbski commented on #9
I think we can close this issue for now, we can revisit later as necessary.

[2017-01-18 13:41] #9 closed

[2017-01-18 17:47] jeffbski commented on #21
There are many ways we could improve this. Here are a couple ideas:

1. async/await would help eliminate a bunch of the promise noise
2. refactor out main work of authenticating into a separate function so logic is only doing simple mapping to calls and dispatching.
3. I added a REQ_ERR_GOTO_LOGIN action so you could keep your original requestError action as only dealing with the error. When this

[2017-01-18 19:16] jeffbski opened #23 "RFC: plan for deprecating process hook's single-dispatch mode over the next couple versions"
I wanted to see if anyone has any thoughts about this. I'm thinking it would be best to deprecate the process hook's single-dispatch mode which comes into play when you use the signature `process({ getState, action }, dispatch)`

[code]

We would keep the other two process hook signatures:

 1. `process({ getState, action }, dispatch, done)` // multi-dispatch
 2. `process({ getState, action })` //

[2017-01-18 20:07] jeffbski commented on #20
@andreawyss I've updated the logic.js.hbs as you suggested, let me know what you think.

[2017-01-19 01:37] jeffbski commented on #20
@andreawyss I have completed the rest of the updates (docs etc) for v3.3.3, let me know how it looks to you. I've renamed it react-boilerplate-logic. So it lives at https://github.com/jeffbski/react-boilerplate-logic (although the old URL should also redirect on github). I also merged the redux-logic branch to master to they are now identical.

I think this is ready to go unless you find any issue

[2017-01-19 05:37] andreawyss commented on #20
This work great for me and I hope that many others will find this of great value.
Thank you so much for doing this in less then a week! Great work.
I will close this issue. Thank you

[2017-01-19 05:37] #20 closed

[2017-01-19 06:25] kopax commented on #21
Ok, I will follow your suggestion, it doesn't sounds too hard, and your prefer this for a reason.

Do you know how I could make async/await available for my application in webpack 2.0.0 (from the react-boilerplate)

[2017-01-19 06:31] kopax commented on #22
@jeffbski ,

Let say a logout is in proress while an authorize request as been dispatch end is sending for updating the jwt.
The logout perform first, we absolutely need to cancel the jwt update.

So the updating jwt logic will be canceled on LOCATION_CHANGE, but we also need to cancel it on SUBMIT_LOGOUT_REQUEST.

[2017-01-19 12:52] jktravis commented on #23
Hi, @jeffbski. This was definitely something that I overlooked when starting to use this tool.  I'd probably spent a few hours on it until I finally read more closely and saw that I needed to include and call `done`.

With that said, I was converting from thunks where I was *hastily* coping and pasting my previous code into the `process` hooks.

Are you finding that it's new users who have used ne

[2017-01-19 13:19] jeffbski commented on #23
@jktravis Yeah, just recently a few people who just started with redux-logic ran into the same problem. They would take the single-dispatch code and just add a few dispatches to it, which would seem to be fine but then it doesn't work. So it just seems that single-dispatch mode is more trouble than it's worth. We want everyone to fall into the pit of success. They shouldn't have any of the problem

[2017-01-19 15:02] KevinAst commented on #23
I personally like the variability provided through the arity of the process().

This has become a common pattern used in such things as providing asynchrony to unit tests (i.e. the optional "done" parameter for asynchronous mocha tests).

Because I would assume that a single dispatch is more common, it seems inappropriate to require an additional done() call in the new proposal.

I personally thin

[2017-01-19 20:14] jeffbski commented on #23
@KevinAst That's an interesting idea that I hadn't considered. I'll ponder the failure cases for both situations some more.

[2017-01-19 21:09] jeffbski commented on #21
In my example since I had set processOptions.failType to REQ_ERR_GOTO_LOGIN it will take any thrown error and use this to create the error action. If failType is a string, then it uses it as the action type and following flux standard action format it creates:
`{ type: REQ_ERR_GOTO_LOGIN, payload: err, error: true }`

If the failType is an action creator, it will call it passing in the err and the

[2017-01-19 21:20] jeffbski commented on #21
Maybe we should split discussions that are in different topics into separate issues. We are all over the place in this one. If you are ok with the answers for the original topic, how about we close this one and we can create new ones for continued testing or other discussion?

[2017-01-19 21:25] jeffbski commented on #22
You can also pass an array or regex to cancelType so if you want to cancel logic on both of those

[code]

[2017-01-20 04:13] kopax commented on #21
I like this idea.

you are right, I am closing this one, work a bit on what you gave me and if I have further questions I'll create another thread.

[2017-01-20 04:13] #21 closed

[2017-01-20 04:14] kopax commented on #22
Thanks a lot, that make sens now. This should be added to the doc I think.

[2017-01-20 04:14] #22 closed

[2017-01-20 07:17] kopax opened #24 "Unit testing, how can we perform process testing using async and await keywords."
Following #21,

The example you provided works for the promise chaining processing style.

This is not the writing you recommanded to me, I have this two process that require unit test:

Global logic of logout, will be present on every pages:

[code]

Login logic, will be present on LoginPage:

[code]

In your example:

[code]

Even with a mock for my test, this doesn't return a promise, but inste

[2017-01-20 18:57] jeffbski commented on #22
I've started a guide that walks people through more of those details, so I'll make sure to highlight that. Thanks.

[2017-01-20 19:37] jeffbski commented on #24
The way I think about it is that it is great to develop nice testable API's for our own code that don't depend on any specific framework thus they can be independently tested and reused in many interesting ways. Then I use code like redux-logic to tie that API to the redux API (mapping things from actions and dispatching results).

Breaking things out keeps things smaller and more focussed and usu

[2017-01-20 20:45] jeffbski commented on #24
Take a look at this [redux-logic-test gist](https://gist.github.com/jeffbski/91d358d322f6a59f53f2be858db03863) for the test helper API and let me know what you think

[2017-01-20 21:03] jeffbski opened #25 "RFC: redux-logic-test - helper utilities"
I'm thinking it might be nice to create a separate helper project which will help make it easy to create mock stores for integration level tests. It would basically let you setup your test store in one line of code hooking up as much or as little as you want to specify.

Then it provides a few nice methods to facilitate testing like knowing when the logic is complete and then being able to see an

[2017-01-20 21:09] jeffbski commented on #24
I created a request for comment RFC issue for discussing the API of the new test helper #25

[2017-01-20 21:10] jeffbski commented on #25
I'm thinking this will just live in its own package maybe named `redux-logic-test`

[2017-01-21 07:16] kopax commented on #25
I agree with most of it. I still wonder how you will do for all case. I can test it, did you create a branch ?

[2017-01-21 17:51] jeffbski commented on #25
ok, I'll see if there are any other thoughts or comments and then I'll whip it up and let you give it a spin.

[2017-01-22 22:59] michael-wolfenden opened #26 "Request: Allow funcs as dependencies that take store as a parameter"
Firstly, just wanted to say that I'm loving the library.

Being able to pass a `dep` into `createLogicMiddleware` is really useful , especially for testing scenarios, however there are scenarios where the dependency needs access to the store.

For instance we have a `api` dependency, however the access token it needs is contained in the store. Right now, within the logic we have to set the access

[2017-01-23 17:31] jeffbski commented on #26
@michael-wolfenden thanks for the kind feedback and for submitting this issue.

I believe I understand what you need here. I want to be careful to allow people to use deps to pass in any sort of object, function, or primitive, so we'd have to keep that in mind with any additions. To go down that path, it seems like we'd need a special way to signify that this is a fn that receives state if redux-l

[2017-01-23 20:24] michael-wolfenden commented on #26
Thank @jeffbski for your response

Your correct in regards to how we are currently using it. We are also using a selector to access the token.

In terms of `addDeps` rather than closing over `store.getState`, I was think more in terms of

[code]
So the `api` passed into `proccess`  is the result of executing this function with the current state.

Having said that either way will solve my issue.

[2017-01-23 21:27] jeffbski commented on #26
Yeah, I thought that's what you were getting at. My main reason for suggesting the alternative is that otherwise we'd need a way to indicate that a dependency needed to be called with state first before providing to the hooks. We can't just take the fact that it is a function since we could have lots of other deps that are functions (which are not expecting to be called prior to injection). So we'

[2017-01-23 21:52] michael-wolfenden commented on #26
Hmmm, I see what you mean.

How about `stateDeps` instead of `deps`?

[2017-01-23 22:41] jeffbski commented on #26
I'll write up an RFC for this addition and see what everyone thinks.

[2017-01-27 20:28] jktravis opened #27 "Check for and add error.message when auto-dispatching failTypes"
Hi. I'm using the auto-dispatch method now in most all of my "logics". However, I have found that unless a Promise is explicitly rejected, the error message doesn't seem to be added to the resulting `failType`'s payload, and no message is written to the console.

Would it be possible to check and add `error.message` to the payload if it exists?

Here is a sample that you can setup to try this out.

[2017-01-27 20:38] jeffbski commented on #27
@jktravis Thanks for raising this. Let me take a close look at what you have identified here. I'm certainly in support of improving the error handling capabilities how ever we can.

[2017-01-28 15:46] Sotorin opened #28 "Request - example using web sockets."
Perhaps community would benefit from a small example using web sockets in addition to classic ajax requests. I'm clear on how to send messages to the server but not sure how to deal with messages arriving from the server.

[2017-01-28 17:32] gihrig commented on #28
I would be interested in such an example as well.

I have a project that will require this feature, but I won't be working on that for a month or more, so an example would be good place to start.

[2017-01-28 19:32] jeffbski commented on #28
Great idea! I will add one.

[2017-01-29 22:21] kimsagro1 opened #29 "Question: Handling UI side-effects"
When using thunks, UI side-effects such as route rediection, toast notifications etc, can be handled by chaining onto the promise returned by the thunk

For example in a form submit handler

[code]

To accomplish the same using logic I'm having to intercept the creation success action and do the redirection there

For example

[code]

It doesn't seem right to me to have UI concerns within logic. I

[2017-01-31 01:10] jeffbski commented on #29
@kimsagro1 thanks for the question.

The way I like to handle these things, my UI events result in simple object actions being dispatched. Then I wire redux-logic up to listen for those actions and perform whatever side effects etc.

So I would have thin action creator which simply dispatches what happened.

[code]

Then I would use redux-logic to listen for EVENT actions

[code]

If I use the cal

[2017-01-31 06:30] java2kus opened #30 "Question: Process similar events in order"
I have a use case where actions are to be processed in order in the following way:

Event order:
---a1---a2---a3--b1---b2--b3--a4---b4

Processing Order
---a1---a2---a3----------------a4------
-----------------b1---b2--b3---------b4

All actions need to be processed in order and a2 should be dispatched to Redux logic only after a1 has been processed by reducer and the state of 'a' is updated in st

[2017-01-31 13:10] kopax opened #31 "use logic to update component state"
It's probably anti design pattern, but because of the all the utilities in it, I found it pretty convenient to store my async logic using redux-logic.

I have a case where I need to display an html table with async data.

The example case is the HAL table that needs to fetch it's data to populate it's content.

https://github.com/spring-guides/tut-react-and-spring-data-rest/blob/master/security/sr

[2017-01-31 18:06] jeffbski commented on #30
The way redux is defined currently there isn't a mechanism to know when a particular action has made it all the way through all the middleware and reducer especially when there is asynchronous processing.

I think it would be nice if it had that capability, but I think in some ways the (event sourcing/flux) philosophy is that we shouldn't try to have strict controls around the processing of events

[2017-01-31 18:25] jeffbski commented on #31
Yeah, I believe you are right in that it is somewhat of an anti-pattern to go that route.

In general we are trying to move towards one global store for the majority of our state (in Redux), however there are some situations where you can use component state. It just muddies the waters since now you might have to look in multiple places for your state.

If you were to pass in a reference to the co

[2017-01-31 18:26] jeffbski commented on #27
@jktravis I haven't forgotten, just need to think through all the various cases here. I'll respond with more soon.

[2017-01-31 19:00] jktravis commented on #27
Sure thing. Take your time.

[2017-02-02 13:54] kopax commented on #31
This would be my answer. The component I am using is a CrudGenerator components.
I think it requires me to create hundreds of new store that could be handled within the components.

It's not a redux-logic related question then, but If the redux store grow to the infinite, quid of the life performance of the running application?

[2017-02-02 16:52] jeffbski commented on #31
Well the nice thing with redux is that it is easy to split up the state and manage them with different reducers bringing them together with combineReducer. You can even add these on the fly, with split bundle loading where you only add in the reducers based on what parts of the app they navigate to.

As for the performance when you have lots of state in redux, there is actually some great ways to

[2017-02-02 17:34] kopax commented on #31
We already use the combineReducer from the boilerplate and it seems to work fine. But I see the redux store growing on each page change. It's probably just developer tools that give this feeling.
All your explanation make sens, let's see how it goes.

[2017-02-02 17:34] #31 closed

[2017-02-03 17:04] ksloan opened #32 "Question: parallel process() ?"
https://jsfiddle.net/jeffbski/954g5n7h/

Why is it that in the above fiddle, if you click the 'fetch users' button 5 times it takes 10s to respond? Shouldn't the next event either cancel the previous one, or at least be done in parallel?

Even if you dispatch a 'USERS_FETCH_CANCEL' (by clicking 'cancel') between each 'USERS_FETCH' you still get this behaviour. The request is still in pending state

[2017-02-03 17:59] java2kus commented on #30
Thanks very much for the elaborate answer.   The reason why we have such a use case is because each of those events depend on the state inside the redux-logic validate/transform function to push the next action.  Also, a1, a2 etc. actions have async calls which have to be processed in order as these events are coming from websockets and only delta changes are being published.   We implemented it b

[2017-02-03 18:00] jeffbski commented on #32
@ksloan thanks for the question.

## tl;dr

 - Browsers limit concurrent connections under http 1.x.
 - redux-logic cancellation/latest cancels the use of the outdated responses
 - redux-logic can automatically perform a full xhr cancel at network level if you return RxJS Ajax observable
 - redux-logic can perform xhr cancel at network with axios with a few extra lines of code.

## Details

The re

[2017-02-03 18:18] jeffbski commented on #30
You are welcome. Glad to help however I can.

I'll be updating http://codewinds.com/rxjs with more information soon.

You can also subscribe to my newsletter for both tips and announcements from most any page.

[2017-02-03 23:31] ksloan commented on #32
Thank you for the detailed answer!

[2017-02-03 23:31] #32 closed

[2017-02-04 10:28] hyperivo opened #33 "Question: Why not make dispatch available in transform?"
Hi @jeffbski,

I have a use case where given an action I might modify it, reject it, or do nothing to it. However, when I reject it I want to dispatch a new action in order to have some information persisted to the state.

I notice that transform only has the next/reject methods available to it, is there a technical reason why dispatch is not there?

Thanks for your time,
Ivo

[2017-02-04 13:53] KevinAst commented on #33
Hello Ivo,

Jeff may have additional insight here, but you can optionally pass an action parameter to your reject() invocation.

There are different conditions, where the action can be:
  1. the original action
  2. one with a modified payload
  3. a completely new action (i.e. different action type)
  4. or no action parameter at all

I believe the third case will service your needs.  If you call

[2017-02-04 14:23] hyperivo commented on #33
Hi @KevinAst,

Indeed 3. would solve my use case.

Thanks for your help :)

--Ivo

[2017-02-04 16:30] jeffbski commented on #32
You are welcome! I'll eventually add this as a linked example but I want to make sure it is documented sufficiently.

[2017-02-04 16:38] jeffbski commented on #33
Thanks for the question @hyperivo!

Kevin did a good job summarizing that. I appreciate it @KevinAst .

So yes, when you pass an action to accept or reject it will look at the type. If it is the same type it will internally call the middleware next handing it down to the rest of the middlewares and reducer. If it was a different type it will instead dispatch so that all necessary middleware will h

[2017-02-04 22:46] jeffbski commented on #28
Here is an example using redux-logic with websockets https://jsfiddle.net/jeffbski/baqz3rkj/

It basically sends whatever msg you type to the websocket service at echo.websocket.org and then it adds all the responses (which are the same since it is an echo service) to a list and displays them.

[2017-02-06 19:51] SilentCicero opened #34 "Comment: include `import` statement in all examples"
Please include all import statement in examples. Dont assume we know where things are being imported from.

Also, just another point.. this is awesome.

Also, any chance you can make this lighter? RXjs is cool, but such a large dep. I believe this could be done far lighter. Just an intuition..

[2017-02-06 20:11] jeffbski commented on #34
@SilentCicero Thanks for the tip. That's a good idea, always good to include the imports.

I'm using the latest version of RxJS v5 and since it allows custom builds, I am only including the Observable functionality (operators) that I am using so that results in a much smaller build than if you include the entire RxJS library. Last time I checked the production minified redux-logic including the cu

[2017-02-07 22:38] fgiarritiello opened #35 "redux-logic login flow example?"
Hi@all,
is there an example of how to implement the login flow using redux-logic and JWT? I'm very much interested in how to implement the refresh token logic to be specific. Could this be something that should be done in the validate function?

Thanks for any help

[2017-02-08 00:03] jeffbski commented on #35
Here's some thoughts and ideas around JWT. Short answer is yes you can use redux-logic for things like auto-refreshing tokens and intercepting actions that need a valid JWT and refreshing before sending the action to the fetch logic.

Actual JWT creation and verification would be done server-side to keep things secure (since you don't want to go passing around your secret). And while redux-logic c

[2017-02-08 01:13] fgiarritiello commented on #35
Thanks Jeff.
The server side is not using cookie so I will have to check the expiration manually on the client. That was very useful!

[2017-02-08 01:13] #35 closed

[2017-02-08 10:24] kopax commented on #24
Any update on the release that ? I really need this, as all our code coverage get reduced because of that. It's not very nice. :!

[2017-02-08 17:06] jeffbski commented on #24
@kopax Sorry for the delay, I just wanted to make sure I allowed some time for input from people, but it seems that this will be a good start. I should be able to work on this soon.

[2017-02-11 02:09] jeffbski commented on #27
I'm looking through this in conjunction with #36 so hopefully I'll get it resolved to your liking. Maybe tomorrow if things go well.

[2017-02-13 22:57] jeffbski commented on #27
@jktravis I have merged #36 and in the process refactored the code that deals with the dispatch and return value handling especially in regards to errors. I documented the details in the api docs and added a bunch of tests to make sure I verified each of these cases.

So long story short, this should work now. If you reject with a string, it should show up as the payload for a failType action type

[2017-02-13 23:49] jktravis commented on #27
Thanks. @jeffbski. I think this will work nicely. Much appreciated!

[2017-02-13 23:49] #27 closed

[2017-02-13 23:49] jeffbski commented on #27
Fantastic!

[2017-02-14 01:24] jktravis commented on #27
This seems so simple now. Don't know why I didn't think of it it earlier. I'll leave the below in case someone comes by later wanting to see specifically how I addressed this.

**createErrorHandler.js**

[code]

**testLogic.js**

[code]

[2017-02-14 01:28] jeffbski commented on #27
We'll add some good ideas like that to the usage guide that I have planned. A cookbook of how to solve common problems. Thanks!

[2017-02-15 18:47] MikeJSX opened #37 "Server side rendering implementation?"
I'm getting `cannot assign logicMiddleware instance to multiple stores, create separate instance for each` when try to load it on server few times.

[2017-02-15 19:03] jeffbski commented on #37
@MikeJSX Thanks for reaching out. What this error is attempting to communicate is that you should create a fresh instance of logicMiddleware for each store.

So what you could do is in the function where you create your fresh store for each request on the server, also call createLogicMiddleware there too so you have one to one.

[code]

The reason for this restriction is that the logicMiddleware r

[2017-02-15 19:58] MikeJSX commented on #37
Thank you a lot. It solved my problem. Great library!!!

[2017-02-15 20:46] jeffbski commented on #37
You are welcome! I'm glad you like it. Have a great day.

[2017-02-15 20:46] #37 closed

[2017-02-16 01:49] jeffbski commented on #25
I just published redux-logic-test, let me know if you have any questions or run into any problems using it.

https://github.com/jeffbski/redux-logic-test

[2017-02-22 15:42] seanlindo opened #39 "Question: Workflow"
Do you find yourself creating constants in the following pattern?

`SEARCH_FILTERS_LOAD_REQUEST`

`SEARCH_FILTERS_LOAD_SUCCESS`

`SEARCH_FILTERS_LOAD_FAILURE`

The three constants above are associated with an asynchronous operation.

`redux-logic` handles the first constant by making an asynchronous call (I use async/await). My reducer also handles the first constant by updating some "loading" sta

[2017-02-22 20:11] jeffbski commented on #39
Yes it is typical to want to respond to those three events distinctly so one would potentially have three constants for each request/response cycle.

Depending on what you are doing on failures, you might be able to get away with a more generic error event, but you are likely to have 2-3 for each async operation.

Redux, flux, event sourcing and event driven architectures all take a similar approa

[2017-02-22 20:15] seanlindo commented on #39
Nothing to suggest as an alternative! Just was interested in a sanity check, that's all. The actual strings themselves are a prefixed camel case, and the exported identifiers take the form of the more recognizable uppercase variety.

Thanks for responding!

[2017-02-22 20:15] #39 closed

[2017-02-22 20:17] jeffbski commented on #39
It's always good to ask the question. It's when we think about the why carefully that we sometimes come up with other ideas. Have a great day!

[2017-02-23 19:54] kopax commented on #25
Thanks for releasing it that fast, I look into this as soon as I have time.

[2017-02-23 20:10] jeffbski commented on #25
You are welcome. Let me know if you run into any questions on use.

[2017-02-24 02:35] StevenTCramer opened #40 "processOptions not working but rxjs style does."
Jeff,

I am having a problem with a basic fetch using processOptions.  I tried to follow the example but it isn't working for me. Yet the rxjs style does.  Any help would be great.  I have included the gist below:

https://gist.github.com/StevenTCramer/7a09f1739f4dc17cc25e546bbbd62f89

I tried looking through the source to see if I could figure out my error, but I'm too much a newb to accomplish i

[2017-02-24 17:42] jeffbski commented on #40
@StevenTCramer Thanks for reaching out. It looks like you just simply need to return the promise and everything should work. In some languages like Ruby, the last thing executed is returned, but in JS you still need to specifically return things.

[code]

I also took out the processOptions.dispatchReturn since it defaults to true if you omit the dispatch/done in your process hook. So nothing wrong

[2017-02-24 19:17] StevenTCramer commented on #40
Wow,  that was easy.  Thanks, Jeff!  The test case using your redux-logic-test passes now.

[2017-02-24 19:17] #40 closed

[2017-02-24 19:19] jeffbski commented on #40
Fantastic! That's what I like to hear.

[2017-02-25 20:20] jeffbski commented on #26
I have added `logicMiddleware.addDeps(additionalDeps)` which will allow you to add dependencies after createStore has been called (similar to the example I provided). It is now available as of v0.11.7

https://github.com/jeffbski/redux-logic/releases/tag/v0.11.7

I'll go ahead and close this, but if there are any additional questions just let me know.

[2017-02-25 20:20] #26 closed

[2017-02-25 20:24] #33 closed

[2017-02-27 11:49] tehnomaag commented on #26
We've been using this approach for setting API credentials:

When a token is fetched from somewhere, it is stored in state by sending `save-api-token` action (ends up saved in some reducer). Then there's also a logic that listens for this `save-api-token` action and gets `api` dependency and calls `api.setAuthToken(action.payload.token)` on it as a side-effect. Now every other logic just needs to

[2017-02-27 12:12] tehnomaag commented on #29
Same here. I'm fine with logic being aware of some UI stuff.

For example I have panel-based UI where each item gets its own panel for viewing and editing/deleting it. When I call an editing action creator I pass a UI `config` object from that panel that determines the panel state, what mode it is in with `config.mode`, was there an error with `config.error` or if the panel is disabled with `confi

[2017-02-27 23:17] jeffbski commented on #26
@tehnomaag That sounds like a nice approach, thanks for sharing.

[2017-02-27 23:45] jeffbski commented on #29
@tehnomaag excellent. Thanks for sharing this. It is great to get insights and ideas on ways to approach things.

[2017-03-13 09:44] shauntrennery opened #42 "Feature Request: waitFor"
Enhance the validate block with a waitFor option.

An example:

During init, an application validates a user's session and populates auth state. Should a redux-logic function depend on auth state but execute prior to auth processes being processed, the validate block can delay execution till a known action is received.

[2017-03-13 14:02] tesla3327 commented on #42
I also think this could be useful. I have done things like this before.
Like building my API interface to queue requests until the user has been
authenticated.

However, this allows there to be a lot of dependencies in your logic. Are
there best practices around doing this sort of thing?

On Mon, Mar 13, 2017 at 5:44 AM Shaun Trennery <notifications@github.com>
wrote:

[2017-03-14 00:04] jeffbski commented on #42
Thanks for posting the request. I'll give it some thought. I'm currently at React Conf, so it will probably be a couple days before I can get a good block of time.

[2017-03-15 06:06] mirandaleandro commented on #42
I have the same problem.

[2017-03-15 18:02] pocheptsov opened #44 "Feature Request: retryWhen policy"
It would be great to have retryWhen policy as a configuration to createLogic. So, it will be easier to implement retry policy without digging into observables.
Ideally, just expose predicate function with some context information as a parameter to that function.

[code]

[2017-03-16 19:20] jeffbski commented on #44
@pocheptsov Thanks for submitting the idea. I'll give this some thought.

[2017-03-17 13:44] kopax opened #45 "Feature Request: catchMiddleware request"
I need to dispatch a logout event when I receive a `err.statusCode = 401`.

So far, I have to write this on each logic.

The other solution I have would be to pass the dispatch to my fetch wrapper, then dispatch the action from there, though it is not really the place to do it.

It would be a great feature to add the ability to catch globally the logic errors.

[2017-03-17 20:48] ksloan opened #46 "Question: Catching Errors"
I'm having trouble with errors being swallowed and never bubbling up. I can't seem to use the promise `.catch()`, or wrap in a try/catch.

Specifically, when I dispatch an action that results in a state change, React re-renders my components. If React throws an error during the render method I can't seem to get ahold of it.

I don't know much about RxJS/Observables... but I can see that my error i

[2017-03-17 21:05] jeffbski commented on #46
That is wierd. Yes, you normally get the error just like you are doing with the catch handler where you can log it and possibly dispatch something else.

Here is an jsfiddle where I do a similar thing in code:

https://jsfiddle.net/jeffbski/78vpf92k/

If you change the URL to the wrong address (like adding BAD to the beginning of the server name) then when you try to search it will correctly log t

[2017-03-17 21:42] ksloan commented on #46
I wrote up a minimal fiddle to demonstrate what I'm talking about.

Just to show you that it all works, this is a working version that doesn't throw any errors https://jsfiddle.net/ksloan/x4khtjtj/2/ When you click the button the state changes, and the App component gets re-rendered.

Now if we set the attribute to an object instead of a string, render() will throw, but we won't see the error, eve

[2017-03-17 21:50] jeffbski commented on #46
It looks like if the error occurs in the reducer then it is getting caught by RxJS and hidden.

If the errors occur outside of the dispatch then they are working properly.

I'll take a look at the code and see if I can fix this. Thanks for bringing my attention to this.

[2017-03-17 23:03] tehnomaag commented on #45
How I did it is wrap all external REST API fetch calls in an RestApi class singleton, that is then passed as dependency to logics. So in typical logic I use it like so:

[code]

So api call specific error handling (validation errors or whatnot) goes here as normal.

And in the RestApi class I wrap fetch calls something like so:

[code]

And now somewhere where store and dispatch are available, lik

[2017-03-17 23:48] jeffbski commented on #46
I was able to add a test to cover this. Basically now it will console.error any error that occurs in dispatching (or the reducer). Errors that occur during dispatching are especially bad since we don't know that we can safely do any additional dispatching since the reducer is questionable. If we try to do any additional dispatching in that unknown state we could easily get into an infinite loop. T

[2017-03-17 23:53] ksloan commented on #46
Great, that will help a lot. Thanks!

[2017-03-17 23:56] jeffbski commented on #46
Also if for testing purposes, the logicMiddleware.monitor$ now has a new op: 'dispatchError' that will be emitted with the error.

So we can verify exactly what happened. You can see this commit if interested.

[2017-03-22 20:53] tb commented on #29
I thinking to make my REST API calls redux setup more generic - something like [crudFetch.js](https://github.com/marmelab/admin-on-rest/blob/master/src/sideEffect/saga/crudFetch.js)
however the [crudResponse.js](https://github.com/marmelab/admin-on-rest/blob/master/src/sideEffect/saga/crudResponse.js) would need to be done outside of reducer to make it customizable.

Lets say that I can trigger de

[2017-03-22 22:47] #30 closed

[2017-03-23 14:51] #46 closed

[2017-04-02 03:44] michael-wolfenden opened #47 "Cancellation using axios"
The section on cancellation states

However this is no-longer the case with axios which now supports cancellation tokens to cancel requests (see https://github.com/mzabriskie/axios#cancellation)

I am currently using the `cancelType` in my logic to prevent the results the being dispatched, but as you state in the documentation, this does not actually cancel the inflight request.

Is there a hook o

[2017-04-03 19:00] jeffbski commented on #47
@michael-wolfenden Thanks for the issue.

Yes you are correct that axios now supports cancellation so yes you can use redux-logic to trigger an xhr cancel.

I had created a jsfiddle that shows how you might accomplish that. I planned on adding this to the documentation as well, but figured I need decent explanations about this which I haven't written yet.

See if this helps to get you going. https

[2017-04-03 22:54] michael-wolfenden commented on #47
Thanks for the swift reply and awesome library

[2017-04-03 22:54] #47 closed

[2017-04-04 10:41] jeffbski commented on #47
Thanks so much for the kind words. I appreciate it.

[2017-04-12 15:56] SilentCicero opened #48 "redux-logic: with no RxJs"
I love redux logic. Dude, this is great. I have a problem though... I'm addicted to making things very tiny. I know. It doesn't matter. I know size in the JS world is not really a problem. Most apps are just images anyway. But still. Before I go and do something stupid:

(1) if I built this LIB without RxJs/Observables what problems would I run into
(2) could I build a tiny faximily library and st

[2017-04-12 17:06] jeffbski commented on #48
@SilentCicero I know what you are saying. I like small as well.

We take advantage of RxJS v5 ability to selectively import operators reducing the size but it still is about 12K (gzipped).

It might be possible to genericize this and allow the observable library to be swapped out but I haven't investigated that yet. I would have to find equivalent functionality in the alternative libs and make sur

[2017-04-12 19:44] SilentCicero commented on #48
[code]

Ball parking based on the things I need. Have not tested this yet.

[2017-04-12 20:54] jeffbski commented on #48
If you are just using this subset of functionality then yes, you can certainly get away without pulling in observables.

[2017-04-12 22:38] SilentCicero commented on #48
@jeffbski for sure, this code above works out of the box. It doesn't do everything, but it organized the logic with a similar API. I'll keep making updates in this thread.

[2017-04-13 00:52] jeffbski commented on #48
Sounds like a plan. If it does what you need then you are golden.

[2017-04-14 13:31] jeffbski commented on #48
I'll go ahead and close this since there is nothing outstanding to deal with, we can still use this to document any new findings.

[2017-04-14 13:31] #48 closed

[2017-04-17 23:47] jeffbski opened #49 "RFC - redux-logic testimonials - share your experience in a comment to encourage others to try redux-logic"
In this competitive world of JS libraries, many people won't even look at something unless there are compelling testimonials by other users, so I'd like to add some of your comments to the redux-logic home page to encourage others to give it a try.

If you would be willing to leave a short 1-2 sentence testimonial comment along with your name and any title/company that you want included then I'll

[2017-04-19 15:46] KevinAst commented on #49
Prior to redux-logic, my business logic was scattered about in a variety of different places including:
- component methods
- thunks
- and middleware injections

In addition, I relied heavily on batched actions, where logic entry points would stimulate multiple actions in one procedural chunk of code.

Needless to say, this was less than ideal.  Even tools like redux-dev-tools could not give me ad

[2017-04-20 14:39] seanlindo commented on #49
I stumbled onto redux-logic by complete accident, and it's been a revelation on how to approach "real" react/redux applications in an environment where deadlines, delivery, and customer satisfaction matter.

Hard business logic like making API calls (which is rarely explained well for beginners) is perfectly encapsulated in redux-logic modules, async/await is used and encouraged, and any logic tha

[2017-05-03 23:12] nnjpp commented on #49
I'm in the early stages of a project and we were using sagas for our async operations. It worked well enough, but was really not pleasant for anyone on my team to read. I think we all just breathed a collective sigh of relief after deciding to switch to redux-logic.

I'll have more to say as we continue using it, but our code looks so much cleaner now after porting everything over (easy migration

[2017-05-04 17:30] ksloan opened #50 "Errors being swallowed in Reducer"
Hey Jeff,

I'm seeing a similar issue to #46 again except this time it's when the error gets thrown in the reducer itself.

Here's a fiddle [redacted]
This is a copy of the working demo from #46 except this time the error is being thrown within the reducer itself (on line 68) instead of in render()

[2017-05-04 17:49] ksloan commented on #49
We're using redux-logic at Zensurance (https://www.zensurance.com/).

Redux-logic enforces great structure for our async action handlers while allowing us to do async any way we want. The validation hooks are essential for controlling user flow throughout our app, and were easy to setup and test.

- Kevin Sloan (Zensurance)

[2017-05-05 14:26] ksloan commented on #50
Ignore this for now. The fiddle was running version v11.8... and I can't seem to repro with v12.0 in fiddle, but still seeing some weird issues in my app. Will reopen if it has something to do with redux-logic.

[2017-05-05 17:57] ksloan commented on #50
@jeffbski I figured out how to repro this. It seems like if you have a logic listening for the same action type as the one throwing the error in the reducer then the error gets swallowed as in #46.

This shows a working version: https://jsfiddle.net/e3cL20zk/2/
This one is hiding the error: https://jsfiddle.net/4cnup8vL/10/

The only difference is line 31, where I'm adding the second logic.
Both f

[2017-05-05 18:32] ksloan opened #51 "Question: Can you set warnTimeout globally?"
I'd like to set the warnTimeout default much lower for all my logic, is that possible?

[2017-05-06 13:15] jeffbski commented on #51
I guess I should make it possible to change the default.

In the meantime if you wanted to have a way to set the default you could use a custom createLogic function that wraps the original like this to only set warnTimeout to your new default unless it was specified to a specific value.

[code]

[2017-05-06 13:17] jeffbski commented on #50
Thanks for reporting this. I'll take a look and see what I can figure out.

[2017-05-07 10:12] DenisNeustroev opened #52 "dispatchReturn with reject() in a validate hook dispatches a success type action not a fail type"
When turn on dispatchReturn in processOptions and after reject action in a validate hook, action with successType will be dispatched [demo on jsfiddle](https://jsfiddle.net/g1hmrjhv/2/), pay attention to lines 30 and 96.

[2017-05-10 14:29] ksloan commented on #50
We're you able to confirm this bug? I'm seeing it again today in a different scenario.

[2017-05-10 14:35] xmaster484 opened #53 "Getting dispatch to work on recursive calls."
Not sure if this is the correct place for this.
I am currently using redux logic and i'm trying to deal with a paginated API.
I am trying to pass dispatch to an auxiliary function that will attempt to pull all the pages of the resultset and concat them to the store.
I pass the dispatch to this auxiliary function and it works fine, but when i recurse on this same auxiliary function, to try to pull

[2017-05-10 15:03] ksloan commented on #53
You should post example code. It's hard to understand what  you mean by 'pass the dispatch'?

Are you saying that you have a recursive function within process() that is dispatching multiple actions? An error might be occurring after the first dispatch that essentially stops subsequent actions from being dispatched properly. Might be related to #50.

[2017-05-10 15:14] xmaster484 commented on #53
const getDataUntilDone = (data, dispatch) => {
  const links = data.links.next;
  dispatch(CONCAT_DATA(data.data));
  if (links !== null) {
    axios.get(links).then(resp => {
      getDataUntilDone(resp.data, dispatch);
    });
  }
};

export const dataLogic = createLogic({
  type: SOME_TYPE,
  process({ getState, action }, dispatch, done) {
    axios.get('some-api-url')
      .then(resp => getDa

[2017-05-10 15:27] ksloan commented on #53
My guess is that done() is being called after the first getDataUntilDone() invocation, but before the second. Try returning the promise from getDataUntilDone(). ex... `return axios.get(links)...`

[2017-05-10 18:07] xmaster484 commented on #53
@ksloan seems like you were right, the done() was being executed before the other dispatches, but adding the return just made it dispatch twice (instead of once when there was no return) and then return, instead of dispatching all 7 actions that it should have been.

[2017-05-11 07:28] tehnomaag commented on #53
I would solve it with some RxJS, like so:

[code]

[2017-05-11 08:13] tehnomaag commented on #42
Just so Jeff has more examples of use-cases this is how I've handled chaining and waiting for other logics to finish.

This example is extracted from an e-commerce app that on direct "buy" page landing needs to prepare some data (fetch user and product) before it can do other actions. So buy page calls BUY_PREPARE on mounting and that internally delegates to other logics, waits for them to finish

[2017-05-11 10:35] lsentkiewicz opened #54 "warnTimeout: 0 and store.whenComplete()"
I am using `redux-logic-test` for testing.
I have a logic that initializes the socket and dispatches events.
`warnTimeout` is set to `0`.

In my unit tests, I call `await store.whenComplete()`, but it causes timeouts because the logic never calls the `done()` callback.

If I call `done()`, all actions are ignored when I call `dispatch({...})`.
Is there any workaround for this?

[2017-05-11 10:48] lsentkiewicz opened #55 "call done automatically"
Is it possible to call the `done` callback automatically, if the `process` function is executed or the returned promise is resolved?
I am revamping my current app to use redux-logic, and this is a very common use case for me.

[code]

It could be converted to this:
[code]

Such syntax would be much useful for me because there is always a risk to forget to call `done()`.

[2017-05-11 13:40] jktravis commented on #55
Not sure if this exactly answers your question, but there is a method sig that auto-dispatches. See [processOptions](https://github.com/jeffbski/redux-logic#processoptions-introduced-for-redux-logic082-allowing-for-even-more-streamlined-code).

I don't know how it would work with async/await, though since I've not been using it yet. But as I understand it, your return can be a Promise, Generator,

[2017-05-11 14:10] tehnomaag commented on #55
I've found automatic linting (with eslint-loader in webpack, or as separate lint step in CI) helpful in such cases. If I alway use the `process({...}, dispatch, done)` 3-argument style and miss a `done()` call, then eslint will complain loud and clear :)

[code]

[2017-05-11 14:12] jeffbski commented on #55
@lsentkiewicz Thanks for the question. As @jktravis mentioned you can return a promise (or result from async await) or an observable.

It works great with async/await as you can imagine.

[code]

If you want to define the action type or action creator outside of the logic then you can use processOptions.successType to specify the type or creator to decorate the data with before dispatching.

[code

[2017-05-11 14:23] lsentkiewicz commented on #55
@jeffbski
I need to dispatch multiple times. `processOptions` work only for a single dispatch.

@tehnomaag
I am using ESLint in my project, but it's not a solution for this problem.
In my above example, I call `done()` twice. If I forget to call `done` in one place, eslint won't report it.

[2017-05-11 15:13] tehnomaag commented on #55
Yeah the processOptions way doesn't allow for multiple dispatch calls.

One way to get async/await style, multiple dispatch and only do one `done` call is to use Bluebird.finally like so:

[code]

[2017-05-11 20:29] zdila opened #56 "cancelling by id"
Our usecase is that we add toasts with payload `{ "type": "TOASTS_ADD", "payload" { "id": <toast_unique_id>, "timeout": <optional_timeout>, "message": <message> } }` and remove them with payload `{ "type": "TOASTS_REMOVE", "payload": <toast_unique_id>}`. Removal is done manually or on timeout.

If it is done manually then we would like to cancel logic (waiting on toast timeout) by `<toast_unique_i

[2017-05-16 09:38] lsentkiewicz commented on #55
Or creating a wrapper

[code]

[2017-05-16 09:40] lsentkiewicz commented on #54
Instead of calling `await store.whenComplete()`, I add a small delay ` await Promise.delay(10)`, and it solves this issue.
Or `jest.runTimersToTime(10)` when using a `jest` framework.

[2017-05-16 16:19] lsentkiewicz opened #57 "wait for dispatch"
I am using [redux-connect](https://www.npmjs.com/package/redux-connect) to load initial data.
When using thunks, I can simply do:
[code]
`store.dispatch` returns a promise.

What's the proper way to implement it in redux-logic?
Below is my solution, but I think there should be more elegant way to do it.

[code]
The logic handler calls `defer.resolve()` before calling `done()`.
`init()` is a simple

[2017-05-18 17:50] lsentkiewicz commented on #42
This is related to #57

@tehnomaag
The perfect solution would be to add `await` to `dispatch`
[code]

->
[code]
The promise can be resolved if all logics call `done()`.

[2017-05-19 17:20] jktravis opened #59 "Error in Component render is reported by createLogicAction$"
I don't know if this is a problem with `redux-logic`, per se. But I do see these kinds of errors so much that I'm curious is there's something that I should be doing better in order to catch them so they `createLogicAction$` isn't the end of the line for the error.

![2017-05-19_13-09-49](https://cloud.githubusercontent.com/assets/438688/26258949/db78e5c0-3c94-11e7-9f7d-a7c044eea8f4.jpg)

It's imp

[2017-05-22 13:51] jeffbski commented on #59
@jktravis Thanks for the question, yes the error is coming from elsewhere and redux-logic is simply console logging the error so it isn't lost. It is happening during the actual store.dispatch so that means it could be in the reducer or even in the components that are getting rendered.

One reason I log it in this situation is so that the error doesn't get lost completely . If the error occurs in

[2017-05-22 14:32] jktravis commented on #59
Thanks, @jeffbski. I was really just curious as to why a component-level error was causing `redux-logic` to report the error. I guessing it's simply due to the component being connected to Redux.

[2017-05-22 14:32] #59 closed

[2017-05-23 00:54] jeffbski commented on #57
@lsentkiewicz Thanks for asking the question. I haven't seen redux-connect but it is pretty neat.

I have been meaning to write up some guides (recipe books) on how to do various things especially with regards to loading data and such.

Typically what I have been doing is to have redux-logic that listens for an action pertaining to the route, like `R:/foo/bar/baz`.

So I trigger those actions as t

[2017-05-23 08:13] lsentkiewicz commented on #57
I think it should work:

[code]
The wrapped component won't be rendered until the promise is resolved.
But I am not sure if #54 (infinite logic) can cause any issues.
I am not using server-side rendering in my app.

[2017-05-23 14:10] mlukasch opened #60 "Dispatch is undefined in logic"
`createLogic({type: actions.UPLOAD, latest:true, process({action}, dispatch, done){
     console.log("dispatch: " +JSON.stringify(dispatch))
});`

returns undefined for dispatch.
Please help.
Thanks

[2017-05-23 14:57] #60 closed

[2017-05-23 14:58] mlukasch commented on #60
Sorry didnt know that printing function in JS returns undefined.

[2017-05-26 08:39] zdila commented on #56
Just in case, here is the full implementation with additional features: https://github.com/FreemapSlovakia/freemap-v3-react/blob/master/src/logic/toastsLogic.js

[2017-05-26 15:08] zdila commented on #9
My (quick) proposal:

[code]

[2017-05-30 02:40] IzaGz opened #61 "Example starter boilerplate with server side rendering?"
Can anyone, please, provide some example implementation of using redux-logic and server side rendering (SSR) ?

[2017-05-30 19:14] IzaGz commented on #37
Hello! @MikeJSX , @jeffbski  . Sorry if wrongly created issue `https://github.com/jeffbski/redux-logic/issues/61` , but maybe it is worthy. Maybe someone can provide example starter boilerplate with this great library implemented with server side rendering (ssr) ?

[2017-05-31 05:00] gihrig commented on #61
@IzaGz There's something in the making that I think will be really good, some assembly required. ;-)

1. The react boilerplate project has an [SSR PR](https://github.com/react-boilerplate/react-boilerplate/pull/1236) built on version 3.4 that's close to production ready (not using redux-logic).

2. The [react-bioilerplate-logic](https://github.com/jeffbski/react-boilerplate-logic/tree/redux-logic)

[2017-05-31 13:55] jeffbski commented on #61
I need to create a few more examples and a recipe guide for situations like that. I can certainly help with the porting the SSR to react-boilerplate-logic.

In an nutshell the way I like to handle things for SSR is to use logic that listens for route change and fetches the data for that route. That allows things to work in either way, client fetched and server rendered. On the server , you basical

[2017-05-31 14:02] jeffbski commented on #57
I had a typo in previous example which I fixed. store.whenComplete should be store.logicMiddleware.whenComplete since I manually attach logicMiddleware to store after creating it so that it is available for later use.

Yes, infinite logic (by its definition) would not complete so the whenComplete would never be called, but if you don't have situation then it should be fine. The only other thing th

[2017-05-31 14:04] jeffbski commented on #56
Thanks @zdila I had the basics started in my notification example, but you have taken it much further. Thanks for sharing.

[2017-06-03 22:12] jeffbski commented on #9
Thanks for the suggestion @zdila. I'm thinking about all of this.

[2017-06-03 22:31] jeffbski commented on #42
@Thanks @tehnomaag and @lsentkiewicz.

I agree that async / await is compelling for many cases. I wonder what we would want to do in cases of cancellation?

Alternatively I could return an observable. It is easy to go from that to a promise. Or maybe there is a new processOption that allows you to specify which you want.

Good ideas to ponder.

[2017-06-09 16:31] TimMurnaghan opened #62 "Strange initialization problems"
I haven't yet been able to extract this out into a small enough example so I'll describe the errors to see if it rings a bell with anybody before I spend the effort making a stand-alone example.

 I'm trying to run redux-logic and reducers in node for tests and I'm getting mysterious rxjs internal errors if I run a small-ish test examples - but not if I run a bigger one.

The main error is
C:\...\

[2017-06-09 18:24] jeffbski commented on #62
@TimMurnaghan Thanks for reaching out. We'll see if we can get to the bottom of these problems and resolve. It looks like the environment where you running this does not have a default implementation of Promise. Most browsers and environments already have this built in, but you can polyfill this pretty easily.

If you add `core-js` to your project with `npm add core-js --save` and then include in

[2017-06-09 18:25] jeffbski commented on #62
I think I'll also update the docs to include the fact that if one doesn't have a promise implementation and how to include that from core-js.

[2017-06-09 21:27] TimMurnaghan commented on #62
@jeffbski Thanks for the thoughts on this. The weird thing is that there is a Promise implementation. I should have mentioned that I am using babel-node so that should be including core  (the rest of the environment was in the original Q - node 6.10 on Windows 7).  It's fine when we use Promises in  the Request calls in the middleware - it's just that rxjs isn't finding it in this case.. If I just

[2017-06-10 20:01] TimMurnaghan commented on #62
@jeffbski OK. I've got to the bottom of it. I had to go inside rxjs to see where it got the Promise constructor from. My tests had faked a global window object (for some api origin stuff) which rxjs took to be a real "root" and assumed that it should have the module info.

It's one of those bugs where the symptom and cause are a long way away from each other - made worse by the tricky incompatibil

[2017-06-10 20:01] #62 closed

[2017-06-10 23:42] jeffbski commented on #62
@TimMurnaghan thanks for letting us know.

[2017-06-20 04:56] therealgilles commented on #28
Hi, I am trying to use/modify this code. I want the client to send back a message when it receives a specific message from the server. I am dispatching the response message sending with store.dispatch in msgRec before returning { type: MSG_REC }. But this seems to lead to msgRec being called again with the same message.

Note that I have also merged SEND_MSG_CHANGED and MSG_SEND together, as my me

[2017-06-20 05:06] therealgilles commented on #28
Nevermind, I forgot that getState.wsConnected would not work for me, as I am using a selector, so selector.wsConnected(getState()) fixed things up.

[2017-06-20 21:00] ksloan commented on #50
Did you ever get a chance to take a look at this?

[2017-06-22 12:18] jeffbski commented on #28
Excellent! Thanks for updating us @therealgilles

[2017-06-22 12:36] jeffbski commented on #50
@ksloan Thanks for creating the fiddles. I can see what you are running into. I'm not sure what is at play here, but I will look deeper and get to the bottom of it. It feels like this is something to do with the async nature of this, especially when there are multiple logic. I will keep looking into it.

[2017-06-27 21:23] zdila opened #63 "Question: is dispatching in cancelled$ observable subscriber OK?"
We need to dispatch action in `cancelled$` observable subscriber. Is it OK? Our usecase is:

[code]

Actions `startProgress` and `stopProgress` is to indicate some async profress and is presented in UI.

We tried it and it works.

Also documentaiton says:

What does it exactly mean. Because calling done() doesn't comlete it (subscriber is not called).

[2017-06-29 12:43] jeffbski commented on #63
@zdila I don't believe that dispatching in the cancelled$ will work for you since once things are cancelled, I don't send anything that is dispatched after that.

What the documentation was trying to say is that cancelled$.next is fired when things are cancelled$ but also cancelled$.done fires when everything was complete. However in both cases the underlying observable is finished so the dispatch

[2017-06-29 22:10] zdila commented on #63
Thanks for your solution, but...

...it really works :-)

[code]

[code]

And in the logs I see dispatching `SET_TOOL` and immediately after that `STOP_PROGRESS` (using `redux-logger`).

[2017-06-30 15:16] ms88privat commented on #29
I think with redux-saga or redux-logic we have to rethink how we did things before.

That's the point here. You should not trigger `deletePost` because it would only delete a post by its definition. Instead trigger `clickOnDeleteButtonOfPostEditView` or `clickOnDeleteButtonOfPostListItem`.  Or maybe more generic way: `clickOnDeleteButton({view: EditPost})` or something similar.

Then the business

[2017-07-05 06:59] orosro opened #64 "Redux-logic prevents code errors from being thrown in console"
Hello,

`Version: 0.12.1`
I integrated redux-logic in an application that is in development stage. It happens quite often to have code or logic errors, or any kind of errors. Doesn't matter. Problem is that it's very hard to debug because the errors don't appear in the console anymore after applying logicMiddleware to redux.

[code]

[code]

The above is an example logic (minus the export and impo

[2017-07-05 15:23] jeffbski commented on #50
I believe I found the problem and am working on the solution. I am in the process of confirming tests around it. I should have a fix early next week.

[2017-07-05 15:25] jeffbski commented on #64
Thanks @orosro for mentioning this. Yes, you are correct, it appears that in certain circumstances the errors can be accidentally masked. A few others had mentioned this in #50

I believe I have a fix, and am just working through the tests to confirm that it is working properly. I should have this available early next week.

[2017-07-05 15:38] jeffbski commented on #63
Maybe it is occurring immediately before the cancellation is actually taking effect. If it works, it works :-) If for any reason it doesn't you can use the above solution.

[2017-07-05 15:46] jeffbski commented on #29
@ms88privat Thanks for answering. Yes, I tend to agree. Working with logic or sagas we tend to approach things in a more descriptive way and more event driven than the typical imperative way from something like thunks or fat action creators.

There are no wrong ways of doing things, but certain ways seem to be more elegant and easier to maintain. Keeping things small and descriptive reacting to th

[2017-07-06 07:14] orosro commented on #64
Thank you @jeffbski , great work by the way. It solves a lot of issues.

[2017-07-06 13:41] DJTB opened #65 "Unexpected debounce behaviour"
In the [single file example](https://github.com/jeffbski/redux-logic/tree/0198e4ac3d54931e1123b9dc6d8583d0904395d2/examples/single-file)  you mention

Though I noticed in [logic wrapper](https://github.com/jeffbski/redux-logic/blob/1dd65bf7f517aa52e805ac8e7165fc9117f56444/src/logicWrapper.js):
[code]
#### A few questions.
1. Can it in fact be used with latest?
2. It appears to be a trailing deboun

[2017-07-07 12:14] DJTB commented on #65
As a note, I'm using a fork of your react-boilerplate-logic (that has the asyncInjectors logic) integrated with react-router-4.

Logics are working in general, this is the only strange thing that I've come across. Before making a reduced test case, I wanted check my assumptions first.

[2017-07-09 16:09] intrepion opened #66 "TypeError: done is not a function"
Hello,

When I run the tests on the example async-fetch-vanilla, it is only a warning:

[code]

But when I try to copy the code to my own create-react-app project, my tests will just error:

[code]

[2017-07-13 14:50] ksloan commented on #50
Any updates Jeff?

[2017-07-14 06:17] jcheroske opened #67 "Is it possible to remove a single logic and not reset other logics' state?"
I'm wanting the ability to remove a single logic in the most non-disruptive way possible. I saw `replaceLogic`, but that seems a bit heavy-handed.

[2017-07-14 08:48] orosro commented on #64
@jeffbski Hello Jeff, hope you are well. Any news regarding the bug?  I saw the changes in the PR, When do you think you will do the merge?
We found a workaround in order to see the bug, you can activate the logger in redux, this will output the error in the console. Hope this helps.

`
import { createStore, applyMiddleware, compose } from 'redux';
import thunk from 'redux-thunk';
import { createL

[2017-07-14 23:34] guilhermebruzzi commented on #50
It is happening with me too (redux-logic: 0.12.1), after a long debug session I found an error on a reducer that I had a logic on the same action, and it was swallowed

[2017-07-14 23:42] jeffbski commented on #50
arghhh. Sorry @guilhermebruzzi and @ksloan  I was gone last week and am getting back up to speed. I have some time tomorrow when I can focus on it and finish it up. I just want to make sure the fix doesn't cause any other issues so I'm double checking the tests.

[2017-07-14 23:46] guilhermebruzzi commented on #50
@jeffbski No problem, thanks for all the hard work that you are doing for this great project! 👍

[2017-07-14 23:52] jeffbski commented on #50
thanks @guilhermebruzzi and @ksloan I appreciate the support. I'll keep on it.

[2017-07-15 00:22] guilhermebruzzi commented on #50
@ksloan For a workaround adding 'redux-logger' at the end of the middlewares also show the error

[2017-07-16 04:02] jeffbski commented on #64
@orosro thanks for the work around. That is a good idea.

I just pushed a new version redux-logic@0.12.2 which should log the errors now in the console whenever they occur in the reducer or render fns. So hopefully with the new version the work around wouldn't be needed.

[2017-07-16 04:04] jeffbski commented on #50
@guilhermebruzzi that's a good idea for a work around.

I did finally get the new version verified and pushed. redux-logic@0.12.2 should now log errors in the reducer or render fn to the console.

[2017-07-16 14:32] KevinAst commented on #50
Thanks much @jeffbski.  I upgraded to 0.12.2 and verified it is no longer hiding errors.  Much appreciated!

[2017-07-16 14:33] KevinAst commented on #64
Thanks much @jeffbski.  I upgraded to 0.12.2 and verified it is no longer hiding errors.  Much appreciated!

[2017-07-16 17:48] jeffbski commented on #50
Thanks for verifying Kevin!

[2017-07-16 17:48] #50 closed

[2017-07-16 17:49] jeffbski commented on #64
Thanks for verifying Kevin!

[2017-07-16 17:49] #64 closed

[2017-07-19 21:35] jcheroske commented on #67
Ping...

[2017-07-25 13:28] jeffbski commented on #67
Yeah, since these are built-up as a chain, it is easy to add to the end or replace all, but not as easy to pull out a single one. Could I ask why you want to remove a single logic?

[2017-07-25 13:30] jeffbski commented on #66
@intrepion thanks for mentioning it. I'll take a look and see if I can reproduce this and what might be causing it.

[2017-07-25 13:52] jeffbski commented on #65
1. Yes it can be used with latest. debounce, throttle, and latest can all be used together if necessary.
2. I'm not sure what you mean by trailing vs immediate/leading, the debounce occurs early, right after the filter by types.
3. It is a debounce for just the types listed for the logic. It won't be for all unless you had used type: '*' or  a regex like /.*/, it will include all the types listed.

[2017-07-25 15:56] lsentkiewicz commented on #49
I've been using redux-logic for 3 months, and I migrated my code from redux-thunk. Here are some thoughts.
Pros:
- The code is isolated, and it's easy to organize everything.
- Very trivial to start (comparing to saga or rx).
- Easy to test. In redux-thunk, it was a problem.
- Cancellation.

Cons:
- This library is just a big helper around rxjs. There are many options that are not needed. E.g. I n

[2017-07-25 18:27] DJTB commented on #65
Thanks for the detailed response. I'll likely have to roll my own.

I'm basically after the throttle functionality - but holding onto the latest event during the blackout period, and then firing it after the blackout (instead of simply dropping *all* blackout events).

I'm not using rxjs ajax, otherwise that + `latest` would achieve what I want I suppose :smile:

[2017-07-25 18:27] #65 closed

[2017-07-27 19:53] fgiarritiello commented on #65
@DJTB Could you please provide the link to the react-boilerplate-logic + router 4?

I would really appreciate that.

Thanks

[2017-07-27 20:18] DJTB commented on #65
@fgiarritiello Hey, I mainly integrated parts of https://github.com/react-boilerplate/react-boilerplate/pull/1746 with https://github.com/jeffbski/react-boilerplate-logic

There isn't a clean example to show you since I made the adjustments to a large in-progress app, sorry!
You'll have to diff those repos and trace the changes.

[2017-07-27 20:21] fgiarritiello commented on #65
@DJTB Thanks. That's exactly what I'm currently doing. I'm doing a diff of those projects and trying to update to router 4 on a big existing project. All of this to then get the Hot loading working.

[2017-07-27 20:29] fgiarritiello commented on #65
@DJTB Sorry to bother you again, but could you share how you managed to implement the logicInjectors.js? I'm having hard time on that one

Thanks

[2017-07-28 18:14] DJTB commented on #65
@fgiarritiello
https://gist.github.com/DJTB/24abf7ec4426fe16e64dfddbb7d51c15
I jumped in when the RR4 changeover was half done, so this may not reflect how the full PR was completed. Though it's working fine for me.

[2017-07-31 07:14] farukg opened #70 "Errors happening inside reducers were catched by the LogicMiddleware and were not shown"
Hello,

i like redux-logic a lot so far, I appreciate your work :)

I found an issue which bothered me a lot.
As mentioned in the title, i can not see where errors are happening, because the logicMiddleware is probably catching them.

You can easily reproduce that by adding line

[code]

into your countdown-obs example in the reducer file like following:

[code]

If you click start in the browser

[2017-07-31 13:33] jeffbski commented on #48
That looks fine to me. I should update the README since the 12K is referring to redux-logic minified and gzipped. rxjs is separate but we only use select operators to keep the size down.

[2017-07-31 13:42] cherniavskii commented on #48
What do you mean by select operators?

[2017-07-31 13:51] jeffbski commented on #48
Out of rxjs, we only import operators that we use rather than the whole rxjs package. In the rxjs site, this is called creating a custom build where you are only including what you need.

So redux-logic only imports operators it needs like
[code]

rather than `import rxjs from 'rxjs' which would pull in the entire package.

Thus if redux-logic is the only one using rxjs in your app then by using t

[2017-07-31 13:54] cherniavskii commented on #48
Thanks for your response!
Indeed, in my build rxjs is much smaller, than whole rxjs library.
And thank you a lot for such a great library! ;)

[2017-07-31 14:56] josephfischer opened #71 ""latest: true" option is not working..."
In the following code snippet (using websockets), using the option "latest: true" does not prevent this action from executing multiple times before done() is invoked...

createLogic({
  type: 'TENDER_BUTTON',
  latest: true,
  process({ action, getState }, dispatch, done) {
      websocketClient.request(requests.PAY_NOW)
        .then(() => {
            websocketClient.request(request.TENDER).the

[2017-08-01 12:42] jeffbski commented on #70
@farukg Thanks for writing. Have you tried the latest version? I just made a change in v0.12.2 which console.errors any errors from reducer, renderer, or middleware stack that would have previously be hidden. The example might still be installing an older version, but if you update it `npm i -S redux-logic@latest` then it should be logging the error in the console.

[2017-08-01 12:51] jeffbski commented on #71
Well it sounds like a misunderstanding of what latest:true does. What it does is that if another request comes in while one is already running (before it has completed) then it ignores the dispatch from the original one and just waits for the response of the latest one.

So in your example multiple clicks will all be sent, it's only the latest dispatch that would be used if there were multiple ove

[2017-08-01 13:17] jeffbski commented on #48
You are quite welcome! I appreciate the feedback.

[2017-08-02 00:26] binarykitchen opened #72 "Get rid of rxjs dependency"
Seeing that it needs `npm install rxjs --save` puts me away to use redux-logic.

For a couple of reasons. Also makes me wonder why redux-logic really need reactive extensions when React/Redux already has that stuff?

[2017-08-02 12:59] farukg commented on #70
Hey, just tried and it works! thank you very much :))

[2017-08-02 12:59] #70 closed

[2017-08-02 13:29] jeffbski commented on #72
I would suggest that the features that RxJS provides are quite different than that of React/Redux.

The primary use of RxJS in redux-logic is to orchestrate events over time. So it does the work of being able to provide cancellation, debouncing, throttling, long lived event streams like when working with web sockets.

Once Observables become part of JS then we'll likely be able to switch to the bu

[2017-08-02 13:30] #71 closed

[2017-08-02 13:31] jeffbski commented on #70
Awesome! Glad to hear it. Thanks for letting me know.

[2017-08-02 23:50] binarykitchen commented on #72
I see. Really like the improvements redux-logic brings in, just dislike the RxJS dependency.

Wondering which npm package comes the most close to redux-logic which would work with React/Redux without RxJS right away @jeffbski ?

[2017-08-04 13:49] jeffbski commented on #72
It really depends on what features you would like to use. you can always do your own custom middleware or if you like generators you can try sagas. I tried to outline the various approaches in my article http://codewinds.com/blog/2016-08-16-business-logic-redux.html (also available on medium).

Is there a particular reason that you don't want to include RxJS? (just trying to understand why) With R

[2017-08-08 03:45] binarykitchen commented on #72
well, we already have lots of packages in our project, also for promises, and there is no need for us to include rxjs at all. would only complicate things for many reasons.

es6 + es7 already come with promises and useful stuff for observables, so why not shim those and leave it to the bundling tool of your choice to cope with these?

[2017-08-23 08:34] DragonRaider5 opened #73 "processOptions.latest not working with async process function"
Hey,
I'm new to redux-logic and in this example I'm using it to filter/query some data, which requires some dispatches inside my logic to query data.
This is what my logic currently looks like:
[code]
It works fine, the async function and awaiting the dispatch don't cause any problems. I also get fine results - BUT the processOptions.latest = true doesn't work. I can see multiple logic middleware

[2017-08-23 10:34] zdila commented on #72
In our case `RxJS` takes 4.4% (70k actual / 160.7K raw) from our not-the-smallest webapp. Reported by Webpack Visualizer.

[2017-08-24 02:36] tylerlong commented on #72
I used to dislike RxJS dependency a lot but now I am OK with it. RxJS is very flexible and powerful. It is way more powerful than just Promise. For example, you can cancel an action, you can debounce actions...etc.

Almost every Node.js project has a ton of npm dependencies, either directly or indirectly. If you don't think so please just open the `node_modules/` folder and count how many folders

[2017-08-24 07:55] zdila commented on #72
It is OK for nodejs projects, but for webapps devs would like to make their bundle as small as possible.

Some stats from webpack with our webapp - packages ordered by size
- react-dom 14.9%
- code.js 7.1%
- rxjs 4.6%
...
- react 2%
...
- redux logic 1%
...

[2017-08-24 21:47] binarykitchen commented on #72
well, it's simple why we are hesitating to use this package:
first it goes against the fundamental modular "lego" approach for building apps based on libraries.
secondly, because we already have other libraries coming with very similar functions reactive extensions have. why should we add "duplicate" code then? it is not about size, we just don't want to be forced to install it because it's a peer

[2017-08-27 17:37] kopax opened #74 "How to use redux-logic within boilerplate futur version"
Hi @jeffbski , I have asked the question on [react-boilerplate](https://github.com/react-boilerplate/react-boilerplate/issues/1912) and [here](https://github.com/jeffbski/react-boilerplate-logic/issues/4) which look a bit abandonned.

The futur version of react-boilerplate offer a bigger set of [tools](https://github.com/react-boilerplate/react-boilerplate/tree/dev/app/utils) for modularity but I

[2017-08-27 18:18] kopax commented on #20
Anyway to reopen ? I am trying to implement it in the way of the current `dev` branch https://github.com/kopax/react-boilerplate-logic

[2017-08-28 06:14] kopax commented on #74
Done: This repo might be useful if you are willing to use the latest react-boilerplate change from `dev` branch
https://github.com/kopax/react-boilerplate-logic/blob/logic/app/utils/reducerInjectors.js

[2017-08-28 06:14] #74 closed

[2017-08-29 09:21] kopax commented on #74
This can be used to play directly with the next boilerplate : https://www.npmjs.com/package/logic-injectors

[2017-09-06 07:25] kruyvanna opened #75 "How to get notified when async operation is done?"
Hi, how to get notified when an async operation is done?

In redux-thunk I can do:

    import {register} from './actions'

    const info = { id: 1, name: 'foo' }
    register(info)
    .then( () => {
      // DONE! => eg. change route
    })

[2017-09-06 21:00] jktravis commented on #75
If your register function is returning a Promise, and you are using it inside of a "logic" file, you would just use the function just as you do in your example.

[code]

Does that help? Or perhaps I need more information.

[2017-09-06 21:08] jktravis commented on #75
[process-hook](https://github.com/jeffbski/redux-logic/blob/master/docs/api.md#process-hook)

[2017-09-07 02:03] kopax commented on #45
Hi @tehnomaag, I was waiting for @jeffbksi feedback on this but now I see he is not close to this repo anymore.

What is in your code `new Rx.Subject();` ?

Could you elaborate a bit your example ? I am still facing the same issue.

[2017-09-07 02:04] kopax commented on #24
@jeffbski Sorry for the delay myself, I started to get to go with redux-logic, I had to teach my team how to use it and we had some other topic. I'll close as soon as it is confirmed that we know how to test every logic, which is not the case yet.

[2017-09-07 05:32] tehnomaag commented on #45
That's just an observable stream from [RxJS project](http://reactivex.io/rxjs/manual/tutorial.html#creating-observables). RxJS is also what redux-logic is built upon internally. To get the minimum amount of dependencies import Subject directly, not the whole Rx namespace, ie:

```import [ Subject } from "rxjs/Subject";```

[2017-09-07 05:57] kruyvanna commented on #75
hi @jktravis thanks for ur reference, but what I need is calling register() function from the component.

register() is the action creator function. So it doesn't return a promise.

**actions.js**

    export const register = data => ({ type: REGISTER_EMPLOYEE, payload: data })

here is my **logic.js**

    import { createLogic } from 'redux-logic'
    import {
    	REGISTER_EMPLOYEE,
    	CANCEL_

[2017-09-07 09:45] jktravis commented on #75
It looks like you've already `connect`ed the component, so, that gives you access to [`dispatch`](http://redux.js.org/docs/api/Store.html#dispatch) on props. (You could also use [`bindActionCreators`](http://redux.js.org/docs/api/bindActionCreators.html)

Since `dispatch` would be on props, from your component you would:

**component.js**
[code]

Since you're using Redux, it's probably best to def

[2017-09-07 14:21] jeffbski commented on #75
Thanks @jktravis for responding with the awesome suggestions. I agree with everything he has said.

It's just a change in perspective, instead of waiting for things to complete and triggering things in your action creators, you instead just do that in your logic process actions as @jktravis mentioned. Do whatever promise API waiting in there. Sometimes you can also break things up into new actions

[2017-09-07 14:28] jeffbski commented on #45
@kopax Sorry for the delay. I've been thinking through the next round of changes and how to accomplish. It's a balancing act of when to add new features and how to add them so that they don't cause confusion and complication.

Thanks for mentioning @tehnomaag yes, rxjs is a great way to enable this sort of thing.

They are working on an official mechanism for cancellation with fetch, so that is co

[2017-09-07 14:29] jeffbski commented on #24
Thanks! I know how it is. We get backed up on things and have to prioritize. I deal with this daily.

[2017-09-08 07:28] kruyvanna commented on #75
@jktravis @jeffbski
I see. Well explained.
Thanks for the explanation.

[2017-09-08 07:28] #75 closed

[2017-09-09 09:47] amankkg commented on #72
Guys you can take a look at [most.js](https://github.com/cujojs/most) as rxjs alternative. But I'm not sure if it suits all redux-logic use cases 🤔.
This issue just reminded me of [redux-most](https://github.com/joshburgess/redux-most#background).
IMO rxjs dependency is still preferable in sense of helping to popularize this library

[2017-09-09 22:42] jeffbski commented on #72
@tylerlong Thanks for that idea. I guess we could change it to a direct dependency to eliminate the separate install. The reason I originally had it as peer dependency is so people would have more flexibility in choosing whatever version they wanted in case they needed a specific version for certain tools and to help make sure there was only one copy of rxjs in the tree.

I guess that even if it w

[2017-09-11 10:16] nripendra opened #76 "How to deal with long running processes?"
In applications, there may be very long running processes. I'm confused, if redux-logic can deal with such process?
For example, in a chat client application, once client has been started we may need to check for internet connectivity through out the application's life.
We may be listening to online/idle/offline etc status of friends, which also occurs through out the whole application life.
Is re

[2017-09-11 14:24] jeffbski commented on #76
Yes, since you can listen to an observable then it can continue to get notifications as long as you want.

We can make the observable automatically reconnect if the ws drops.

Here's an example https://jsfiddle.net/jeffbski/baqz3rkj/

I created a reconnecting websocket client that also indicates when it is connected so that can be monitored too. So in the logic file we simply connect to it and han

[2017-09-13 10:50] jeffbski commented on #72
@amankkg thanks for mentioning most.js It looks pretty nice. I'll learn more about it.

[2017-09-13 12:39] jeffbski commented on #72
I have pushed a new version v0.12.3 which makes rxjs a dependency

 https://github.com/jeffbski/redux-logic/pull/77

So I'll go ahead and close this for now.

[2017-09-13 12:39] #72 closed

[2017-09-18 08:01] DimitryDushkin commented on #76
To deal with stream of actions of certain type you should create Observable outside of `createLogic` and execute `.next(action)` in `validate || process || etc.` section?.  There is no built-in stream of actions (like in redux-observable). Is this correct?

[2017-09-19 00:25] jeffbski commented on #76
Currently that is true, but I've been thinking about this feature and am planning to add the capability so that you can have access to the stream inside of your process hook. I'm going to discuss with some other users this week at Connect.tech and will work on getting it in there. I'm thinking it will just be exposed as another dep, maybe named `action$` unless we come up with a better name.

[2017-09-22 22:05] SneakyMax opened #79 "Docs: note that debounce/throttle apply to the action, not `process`?"
So I had a logic like this:
[code]

From the docs I assumed that `debounce` would debounce the _process_ function, not the _action itself_ and I was confused why not all of my `DO_SOMETHING` actions were going through (other reducers are changed by DO_SOMETHING also). Was a misunderstanding on my part.

I think it would be helpful to note somewhere that it's the actual redux dispatch that gets deb

[2017-09-23 04:22] jcheroske commented on #67
Very late reply... I'm exploring fractal redux components. Using libs like `redux-subspace`, which is going to feature dynamic reducer injection soon. It already has support for adding/removing sagas at runtime. I want to use this lib with it. Do you think it would be possible to add a method like:
[code]

[2017-09-23 18:06] jeffbski commented on #67
Sounds interesting, I'll learn more about redux-subspace.

I guess there could be a couple ways of possibly approaching this.

I could create a fn that would do the proper replaceLogic or I could possibly create a way to flip a flag to bypass this logic after this fn was called and toggling it again if re-injected.

I'll think about the best way to approach this desired use case.

[2017-09-25 14:55] scriptjs opened #80 "Multi step transform example"
I've not yet located a transform example that consists of multiple steps. Is there an example available? Thank you.

[2017-09-25 21:37] ugility commented on #80
Not sure why the "insert code" option doesn't like the code... Only part seems to format correctly when previewing.

So you might need to copy/paste it into your editor if it isn't clear:

`const myLogic = createLogic({
    type: 'INIT',
    debounce: 1000,
    transform({ getState, action, cancelled$, deps }, next, reject) {
      // EXAMPLE 1:
      const transform1$ = Observable.of(action)

[2017-09-26 13:28] jeffbski commented on #79
@SneakyMax Thanks for writing! Yes, the debounce is in indeed happening on the front of the chain on the action before it goes to the reducers. This allows you to send all onchange actions from an input and only use the last one that fires after a pause rather than every key stroke.

I will definitely update the docs to indicate more specifically how this works. Sorry for the confusion.

[2017-09-26 13:47] jeffbski commented on #80
@scriptjs thanks for the question and thanks @ugility for responding with a nice detailed answer.

About the only clarification I might make is that the transform step is expecting next (or reject) to be called exactly once. So while process hook can dispatch multiple times the intercept hook (transform/validate) only can call next/reject once.

However the example above is still valid if you are

[2017-09-26 14:23] scriptjs commented on #80
@ugility @jeffbski  Thank you for these detailed answers and for the library.  I think I need to explore a bit further. From what I have gathered thus far, transform is a alias of validate. I think perhaps it needs to grow a transform method that is not an alias to handle a sequence of methods in a way that could be handled in series or parallel. That is for me what is missing at this point.

[2017-09-26 14:39] ugility commented on #80
@scriptjs could you maybe provide an example of what you mean? I'm not saying a disagree with you, because I've actually modified the library to do exactly what you're proposing. But it's for a completely different reason than what I think you're trying to describe. So if you could post an example it'd help me better understand what you're envisioning, and maybe some of the mods I've made to the l

[2017-09-26 17:18] scriptjs commented on #80
@ugility What I am looking for is analogous to piping transformations using a node stream.

[2017-10-03 17:38] sanbornhilland commented on #62
@TimMurnaghan Do you remember what specifically you were faking? I'm running into the same problem even though I have a `Promise` implementation available globally.

[2017-10-04 01:51] hjh5696 opened #81 ""warning: logic (~) is still running after 60s, forget to call done()?" keeps called"
Hello. I am getting trouble after I updated redux-logic to latest version.
I read all document and it said single-dispatch option is gone. So I added done() to all my logics.
But I still get error message like below. I revised some source code to print 'action' in the last of error message due to insufficient information about logic name.

`console.error: "warning: logic (L(/^(?!http\/).*/)-77) is

[2017-10-04 18:45] jeffbski commented on #81
That looks correct. Does this happen consistently or just from time to time? Is is possible that the server doesn't respond within 60 seconds? (or maybe the browser is busy fetching other things and it gets queued and delayed?)

[2017-10-04 20:33] hjh5696 commented on #81
@jeffbski I think that's not the case.
It happens every time I run the app and the response comes every time too.
I've checked by logging 'res'.
That logic runs right after the start up, and the warning message comes up far later.

[2017-10-04 21:15] KevinAst commented on #81
I'm not an expert with async/await, but what is the purpose of your async clause in this case, as you are directly using promise .then()/.catch() directly?  Is it possible that this is causing some anomaly?

I would suggest adding a log in the finally .then() clause to insure done() is being called.

[2017-10-04 21:30] hjh5696 commented on #81
@kevinAst oh that was a mistake.. Actually I created a logic using async/await at first and the warning message comes up. So I changed it to use promise to make it same as README.
I forgot to delete async keyword then.
I'll give a try without async and come again.

[2017-10-05 01:23] hjh5696 commented on #81
@KevinAst Unfortunately, it does not work. I think async keyword is not a problem. :(

[2017-10-05 15:07] KevinAst commented on #81
@jh5696 I would still place some "temporary" diagnostic logs in each of the async callbacks.  Of particular interest is to confirm that last "finally" then() clause is executing the done().  This might shed some light on what is actually happening.  If the done() is being executed, then it points to some issue in redux-logic.  If the done() is NOT being executed, then there is some issue with the

[2017-10-05 15:28] hjh5696 commented on #81
@KevinAst Thanks for your reply. I tested with some logs and all seems good, but warning message still comes up.
I confirmed that
1. the response is definitely arrived within 60s(actually within a sec)
2. done function is called in final then() clause after a dispatch

[2017-10-05 15:41] hjh5696 commented on #81
It's so strange. I added done after the promise but warning message still exists.

[code]

done is called regardless of then/catch clauses. So It 'should' be and is actually called within 60s..
Dipatching setLocation is not executed as expected.

[2017-10-06 21:14] jeffbski commented on #81
Thanks for looking into this. I'll go back and take a close look at the warning code and maybe it is a defect in redux-logic that the warning is not getting cancelled when it should be.

[2017-10-09 15:14] TimMurnaghan commented on #62
@sanbornhilland Sorry for slow response - but yes it's because of rxjs trying to be slightly too clever and assuming things from seeing global.window. Hopefully between our responses the next person will get enough clues.

[2017-10-10 13:54] jeffbski commented on #81
I haven't found anything wrong in the redux-logic code yet, but will still keep looking.

I did want to mention that this warning is only turned on in the development build. So once you are building and deploying in production (with NODE_ENV === 'production') then this warning is disabled.

I'll keep looking to see if I can figure out what might be going on.

[2017-10-13 18:04] artificis opened #82 "Order of logics in array"
For most asynchronous (mostly api calls) handlings, we need to show sort of loading indicator (or spinner) UI element. Since these are pretty common in every api call logic, I tried the following:

`constants.js`
[code]

`logics.js`
[code]

I expected to see the following in my console:
[code]

Instead, what I actually saw was:
[code]

So is taking individual logic from array is quite random or do

[2017-10-15 18:18] jeffbski commented on #82
Thanks for raising the question @clthck. Your original assumptions are correct in that the messages pass down the logic stack in the order they are listed in the array. I will test your code myself to see what happens, though like you I would have expected to see set, login, clear.

I believe that I already have tests that verify things like that using the monitor$ which helps see the inner workin

[2017-10-15 19:41] clthck commented on #82
Actually I'm more up to what would be the best way to DRY this common stuff for showing loading indicator UI, using redux-logic.
For now, I have to import two action creators (`setWipFlag`, `clearWipFlag`), wrap the process logic with dispatching these two actions. What is your thought?

[2017-10-17 00:20] jeffbski commented on #82
Sure. I think the approach that many people take would be to use a consistent naming convention in your actions and that way you can use a regex similar to what you were doing except that you would typically use like a leading or trailing 'ASYNC' for the setSpinner logic and then for the clearSpinnerLogic regex for /(_SUCCESS|_FAILURE)$/ to catch the completion or failure.

[2017-10-31 04:17] scriptjs commented on #82
@jeffbski What was your result for the above with the current code?

[2017-11-01 12:21] riston opened #83 "Many logics causes deep call stacks"
# Issue description

Application with many logics(example 100) would cause deep RxJS "next" call stacks.

I have recreated the issue with one of the example, added 100 dummy logics which are not triggered (https://github.com/riston/redux-logic/blob/perf-logic/examples/async-fetch-proc-options/src/users/logic.js). Dispatching the "fetch" call(could be any other as well) which now causes really long

[2017-11-01 13:52] jeffbski commented on #83
Thanks for identifying this @riston. I can see if there are ways to improve the situation internally or like you said via dynamically adding and removing logic. Maybe there are other strategies that could be done to segment for stacks. I can also discuss with the RxJS team.

I guess the next obvious question is: has there been any real world failures in a redux-logic app due to this (on Mobile Saf

[2017-11-01 14:41] askot commented on #83
Hi Jeff, thank you for quick response. I am working together with @riston and we are seeing this right now in our app.

Our app has grown to having over 180 logics, and with recent release (after adding bunch of code), we started seeing issues on IOS browsers. Basically, when dispatching an action that dispatches a lot of secondary actions, app would stop responding, usually, without an error.

De

[2017-11-01 20:38] jeffbski commented on #83
Thanks for the update @askot. I'll take a look and see what we can do to help this situation. And thanks for the tip about how to reproduce in canary that may help.

[2017-11-02 09:50] riston commented on #83
As @askot already mentioned this is quite problematic for mobile devices. In the first example only single action gets dispatched but when multiple actions get dispatched the call stack gets really wide.

Here is the same example as before but added one additional dispatch after the http client is fulfilled:

The click handler takes ~650ms:
![screen shot 2017-11-02 at 11 43 58](https://user-images

[2017-11-02 11:48] jeffbski commented on #83
I tried running with Canary with limited stack as you mentioned
[code]

and ran your example with the 100 logics (https://github.com/riston/redux-logic/blob/perf-logic/examples/async-fetch-proc-options/src/users/logic.js)

Should I expect it to fail? (or just to show the stack depth?)

Do you have any other examples that will fail if I use Canary with a limited stack size? I'd love to be able to r

[2017-11-02 12:32] jeffbski commented on #83
I was thinking about the issue and I wonder if it could be solved by swapping out the logic stack as you change to different parts of your app?

We could build extra functionality in redux-logic to help with this if this turns out to be a good approach, but you can get started trying that now just using the replaceLogic.

So what you could do is instead of creating one array of logic.

You could c

[2017-11-02 14:52] raygesualdo opened #84 "Add ability to transform deps before transform/validate/process"
Hey Jeff! We've run into a situation where it would be helpful to transform our dependencies before they actually hit the process method. Essentially, I would like to have an additional dependency that contains pre-populated values from the current state and action (things like the user context, specific values optionally passed in via an action's meta field, etc.). Right now we're doing the extra

[2017-11-02 18:28] jeffbski commented on #84
Ray,

Thanks for reaching out. I'm onsite right now, but I'll give it some
thought and then we can greenlight the approach.

Will get back to you soon.  Thanks.

Jeff

On Thu, Nov 2, 2017 at 9:52 AM Ray Gesualdo <notifications@github.com>
wrote:

--
Jeff Barczewski
Founder of CodeWinds
http://codewinds.com/
Live and Online developer training

[2017-11-02 20:17] raygesualdo commented on #84
Sounds great!

Another idea I had was to allow `deps` to also be a function (which is passed `getState` and `action`) that returns an object. That way there's no need to have another argument in `createLogicMiddleware` or to explain what mapping over dependencies involves. `deps` is either an object or a function that returns an object. I think I like this way better. 😃

[2017-11-02 22:03] KevinAst commented on #84
@raygesualdo ... I also think your second approach (allowing `deps` to be a function) is a much cleaner approach!

[2017-11-03 15:05] riston commented on #83
Hello Jeff, thank you for a quick response. I was mistaken the application does have more than 180 logics added to the application. Grouping logics and adding these dynamically sounds a good idea, although in our case one group would still have 160+ logics which would be in the same group.

The test with limited stack size would simulate similar issues occurring on iOS Safari. It does not need to

[2017-11-03 17:06] jeffbski commented on #83
Ok, I can look closely at that example to see what is occurring. Thanks.

As for  https://github.com/jeffbski/redux-logic/blob/master/src/logicWrapper.js#L39 I am using a share() because all the logics do want to share the same rxjs stream. That allows later logics to intercept previous values since they feed through this pipeline.

However that brings up an idea. The most common use of logic is f

[2017-11-03 17:27] jeffbski commented on #84
Thanks @raygesualdo and @KevinAst! I think the second approach sounds the best to me too.

If deps is a function then it would be providing the resulting dependency structure after doing whatever transformation is desired.

Since this is a fair number of arguments to pass into the deps function, I'm thinking it should come in as an object containing all the built-in deps and then a new object can

[2017-11-03 19:14] riston commented on #83
So in our case, we have 100% pure process hook based logics we don't use the validation, transform hooks. Many of our logics use multi actions dispatching which causes really long call stack. The separation of handling interception and processing hooks seems a great idea 👍 .

[2017-11-03 19:22] VitalyChe commented on #83
The idea sounds great but could you, please, share some example of the implementation!
Thank you!

[2017-11-03 19:54] jeffbski commented on #83
Great @riston that sounds like a winner then.

Yes @VitalyChe I can write or show a design of how it will work, that way we can all look at it before I dive into the code. Just in case there are other things to consider. The more eyes the better.

I'll get something up for review asap.

[2017-11-07 14:55] jeffbski commented on #83
@askot @riston I have an experimental branch that I would like you to try to see if it helps with the limited call stack issue on mobile browsers.

I have uploaded it to a branch "add-process-delay"

So you should be able to install it into your app using

[code]

This should pull it directly from the github branch. I have pushed the build/dist files to this branch so they are already built and th

[2017-11-07 21:15] james89 commented on #81
@jeffbski I can reproduce this same issue FYI. One of our logic methods was failing and never actually executing done (even though it should be going to next .then(done) )

[2017-11-07 21:21] james89 commented on #81
_### our logic.js file_
[code]

graphQueryPublic.js looks like this:
[code]

[2017-11-08 18:45] jeffbski commented on #81
Thanks @james89 that should help me figure out what is going on. I'm thinking about maybe disabling the warning by default since maybe there are some edge cases where it is warning when it shouldn't and just causing more confusion than it is helping.

[2017-11-13 08:43] riston commented on #83
Hello Jeff,
I tested the Rx scheduler change on the `async-fetch-proc-options` example, the execution cycle seems to be faster compared to the previous result(~650ms), although the stack size would stay same.
![screen shot 2017-11-10 at 16 27 02](https://user-images.githubusercontent.com/782237/32716571-370d8b38-c85f-11e7-87b2-4266403fc6da.jpg)

[2017-11-13 12:44] jeffbski commented on #83
@riston does it prevent the failures you were seeing?

I'm still planning on doing the refactor I mentioned, but I was hoping that this might buy me some time to not have to rush it.

[2017-11-13 13:26] KevinAst opened #85 "When would process hook run after reducer?"
Hi Jeff,

In your [process hook docs](https://github.com/jeffbski/redux-logic/blob/master/docs/api.md#process-hook) you state that the process hook **typically** runs after the state has been updated (*unless other logic delay's execution*).

I'm not sure I fully understand the caveat of *other logic delaying execution*.  The only thing I could think of was other logic having asynchronous validate

[2017-11-13 13:51] jeffbski commented on #85
@KevinAst Thanks for the question and the kind words.

Yes, in most common use cases the state will be updated before the process hook runs. The original action that triggered the logic to run has passed through any validate/transform hook and it will have been passed onto the next logic (and any other middleware below this).

A few less common scenarios that could delay the state being updated:

[2017-11-13 15:15] KevinAst commented on #85
Thanks @jeffbski for your quick response.

Stated a slightly different way (if I understand what you are saying):

1. State change (i.e. reducer execution) only occurs after ALL validate/transform hooks give the thumbs up (i.e. **for ALL logic modules monitoring that action**).  As a result any one of the logic module validate/transform hooks could delay state change, when async behavior is employ

[2017-11-13 15:16] askot commented on #83
Hi, Jeff, thank you for you work.

Yes, this patch seems to work around the freezing issue, so that our app does not hang any more on iOS where it was reproducible before.

As a side effect it brings out some wrong assumptions we had made on running order of logics, breaking data loading and some other timing issues. So it could be a breaking change for other users as well.

Also, wanted to thank

[2017-11-13 15:47] tehnomaag commented on #83
Hey @jeffbski,

I'm in the same team with @riston and @askot. For now we had to fork this library to fix our issues for good. Your above workaround only alleviates the problem a bit.

The main issue is that this code in applyLogic chains all the logics together in nested merged observables:

[2017-11-13 18:04] jeffbski commented on #85
@KevinAst That seems like a great idea and I think it would be relatively easy in the new design I am considering which manages each of those features separately. That does seem like that would be more deterministic.

I would also agree with you regarding not needing any other middleware after adding redux-logic. That's been the case for me too. Of course we do want to make it easy for people to c

[2017-11-13 18:12] jeffbski commented on #83
Thanks for responding @tehnomaag with this great summary of your changes. I'll plan to also go through these and understand the details so we might be able to bring these into the this repo as well.

[2017-11-13 18:17] jeffbski commented on #83
@askot Thanks for mentioning the results of your testing but also that it created some other issues due to timing. I guess we can take a look at @tehnomaag's improvements and see if those help, and finally if not, then I'll try to expedite work on v2 (starting by getting a design up for review).

[2017-12-03 15:57] raythree opened #86 "cannot assign logicMiddleware instance to multiple stores exception - during tests only"
Hi, first off, thanks for this great project!

I'm trying to introduce redux-logic to my stack, and I'm getting this exception ONLY when running tests:
[code]
I do NOT get this when running in normal dev mode ```npm start```. I am using ```create-react-app``` as the starter kit. My ```configureStore``` method is pretty straight forward, and when running in dev I see that the logic process method i

[2017-12-05 11:41] jeffbski commented on #86
@raythree Thanks for writing.

Yes, this is an easy fix. Currently logicMiddleware instances can only be used with a single store, so you just need to create new ones if you are creating new stores.

With your above code, just bring the createLogicMiddleware into the configureStore call and you'll be good.

Also if you want to have access to the logicMiddleware instance for later use, then I usual

[2017-12-05 15:29] raythree commented on #86
Great thanks for the tip.

[2017-12-05 15:29] #86 closed

[2017-12-11 17:27] BjornMelgaard commented on #79
had the same confusion when tried to listen redux-logic, debounce was actually causing whole application to freeze

[code]

then I've tried

[code]

but only first part of `process` was dispatching actions (part before await), it was because `createLogic` was scanning my process function to find how many arguments it is expecting

finally made it working with
[code]

At the end it was looking like

[2017-12-12 01:14] jeffbski commented on #79
Thanks for sharing @BjornMelgaard

[2017-12-12 19:33] ksloan commented on #42
Is it a bad idea to pass a followup action into dispatch? For example:

[code]

Then in the `firstActionLogic`, calling `dispatch(action.nextAction)`

[code]

[2017-12-26 16:41] naorye opened #88 "wait for dispatch to complete"
I have the following logic:
[code]
Here I am trying to achieve two things:
1. Get a result of an action (inside logic). This can be solved by reading the state AFTER the action is done, but I think `done(data)` should somehow return that data.
2. Wait for dispatch to complete and then dispatch another action. The code I've written doesn't wait for 'updateSomething' to complete. Therefore 'doAnothe

[2018-01-12 05:08] TraceyK14 commented on #52
No response in 8 months? @jeffbski
I am having a similar problem, I am trying to follow your form validation example but slightly tweaked as I don't wanna store the fields in state.

It gets to the reject part but doesn't call the 'loginFieldsInvalid' action and then continues through to process. If I don't pass an action to reject it will work but I need the errors object so that doesn't help muc

[2018-01-12 23:50] jeffbski commented on #52
Sorry @TraceyK14 and @DenisNeustroev  I will take a look this weekend and respond back.

[2018-01-12 23:56] TraceyK14 commented on #52
@jeffbski awesome, thank you! If you need anymore information from me please let me know.

[2018-01-14 02:23] jeffbski commented on #52
I tried to run the jsfiddle from @DenisNeustroev but it doesn't seem to run right now.

@TraceyK14 I am looking at what you have posted and it all looks good. I don't see the code for loginFieldsInvalid, so I am wondering if there is a problem in there.

It looks like you are rejecting with an action and that will be dispatched and process won't run.

I went back and ran my form-validation example

[2018-01-14 02:56] jeffbski commented on #88
@naorye Thanks for writing, sorry for the slow response. Things were a little busy recently. Anyway, there are a variety of ways to solve this type of thing.

If you do need to know when something is done before continuing with other things, then I suggest that you have your API calls that manipulate data return a promise or observable so you can know when they have completed.

Then from the resul

[2018-01-14 10:10] TraceyK14 commented on #52
@jeffbski Here is the code in my actions.js which contains the loginFieldsInvalid action.
Below is the link to a working fiddle and the reject action is still not firing. The isLoggedIn value should never be true. I have the button fire the login action with empty credentials and I also have the errors array being console.logged so you can see that it is correctly identifying the errors and storin

[2018-01-16 14:08] jeffbski commented on #52
@TraceyK14 Thanks! I see the issue now and am working on a fix. It has to with some refactoring I did to clean things up. It is not calling the process fn on the failed validation but what is going wrong is that the reject action is being wrapped with the successType when that should only happen for actions dispatched from the process function.

To work around the issue right now, don't use the pr

[2018-01-18 17:32] TraceyK14 commented on #52
@jeffbski I'm glad you were able to figure it out! And thank you for the workaround, it's working correctly now.

No worries, I'm just glad I was able to help.

[2018-01-24 05:05] michael-schaedel opened #90 "dispatch() behavior may be wrong while processOptions.successType is defined"
I love the feature of `processOptions` as it removes quite a bit of boilerplate in our repos. However, we found that when `successType` is defined, we cannot call dispatch as it is bound to the `successType`. Consider the following example:

[code]
Due to the following method: https://github.com/jeffbski/redux-logic/blob/v0.12.3/src/createLogicAction%24.js#L105, the `dispatch()` call wraps the pas

[2018-01-24 13:32] jeffbski commented on #90
Yes, currently successType limits you to a single type of action and it will decorate either what is called via dispatch or what is returned (when dispatchReturn is true, or dispatch and done are omitted from the signature).

If you want to have dispatch multiple things of different action types then leave it undefined and just wrap them each with the proper action creator.

There are a lot of use

[2018-01-24 16:18] michael-schaedel commented on #90
I feel it's a bit opinionated to enforce `dispatch(successType)`. I think it would be more intuitive if the process flow didn't enforce `dispatch(successType)`, but only applied this behavior when the result is a promise and `processOption.dispatchReturn === true`. To handle our design, we just wrapped `createLogic` in a wrapper that handled promises in this manner.

Appreciate the quick response.

[2018-02-06 01:00] GOVYANSONG opened #91 "Problem with dispatchMultiple"
I am trying out this option. Typescript source code is attached below:

 =======================
import { createAction, handleActions } from 'redux-actions'
import { createLogic } from 'redux-logic';
import { Observable } from 'rxjs'

// -----------------
// STATE - This defines the type of data maintained in the Redux store.

export interface WeatherForecastsState {
    isLoading: boolean;
    st

[2018-02-06 03:30] GOVYANSONG commented on #91
While I was reviewing other topics in the issue section. I saw a similar one: https://github.com/jeffbski/redux-logic/issues/18. The resolution made me believe that redux-logic should function for multiple dispatching. In my case, I have a axios api call along with a normal action. Does it make any difference?

[2018-02-06 13:50] GOVYANSONG commented on #91
More information about my environment:

"rxjs": "5.5.6",
"axios": "0.17.1",
"redux-logic": "0.12.3",
"redux": "3.7.1",

[2018-02-06 14:20] GOVYANSONG commented on #91
More information on the redux-logic internal monitoring:

09:18:06.560 configureStore.ts:23 Object {action: Object, op: "top"}
09:18:06.563 configureStore.ts:23 Object {nextAction: Object, op: "bottom"}
09:18:06.570 configureStore.ts:23 Object {action: Object, op: "top"}
09:18:06.571 configureStore.ts:23 Object {action: Object, name: "L(WEATHERLOGIC_MAIN)-1", op: "begin"}
09:18:06.573 configureSto

[2018-02-06 15:15] GOVYANSONG commented on #91
More observations: if i remove latest: true, both dispatches worked in sequential manner as expected.

[2018-02-06 18:59] #91 closed

[2018-02-07 10:09] shauntrennery commented on #83
I'm working on an application with 465 items of logic. 465 is seemingly too many for createLogicMiddleware as I'm not getting a "Maximum call stack size exceeded" error from within RXJS. Any ideas how I could approach this problem?

[2018-02-08 13:58] jeffbski commented on #83
@shauntrennery I'm not sure I understood you. Are you saying that you are having an issue with 465 items but don't see any error? If so explain to me what happens. Did it work fine with 464 items, but now 465 is a problem?

@askot and @erkiesken I know you were experimenting with some tweaks to the code. Did this pan out for you and if so, can you point me to what you did and suggestions on what c

[2018-02-08 14:23] shauntrennery commented on #83
@jeffbski correct, 465 was the magic number for me. Calling createLogicMiddleware with an array of 465 items gave me a "Maximum call stack size exceeded".

I've opted for the following approach (splitting the logic array into two) as a workaround:

`const middlewares = [
    routerMiddleware(history),
    createLogicMiddleware(core, logicDependencies),
    createLogicMiddleware(app, logicDependenc

[2018-02-09 08:46] ortonomy opened #92 "``dispatch`` not working in process hook"
Kinda despairing here:

I have a process hook for one action that works fine dispatching actions from within a promise...

[code]

but using the same logic slightly differently elsewhere refuses to dispatch from within the promise...

[code]

I've tested the dispatch in the ``ORG_SEARCH`` action, and works if it's not inside a promise. If it's inside the promise, it just flat out doesn't work... 😖

[2018-02-09 09:28] ortonomy commented on #92
Made a mistake in export of reducers elsewhere...

[2018-02-09 09:28] #92 closed

[2018-02-09 16:43] jeffbski commented on #92
I’m glad you figured it out. Have a great day!

On Fri, Feb 9, 2018 at 3:28 AM Gregory Orton <notifications@github.com>
wrote:

--
Jeff Barczewski
Founder of CodeWinds
http://codewinds.com/
Live and Online developer training

[2018-02-13 13:53] #80 closed

[2018-02-14 20:39] jeffbski commented on #83
ok, thanks. I'll look at the changes that the @erkiesken was experimenting with to see if we can find a good way to improve this.

[2018-02-15 07:38] askot commented on #83
@erkiesken had a patch that changed how the logics are triggered and it seemed to work around the stack size issue. In principle it was similar to triggering each logic code with setTimeout, to get a new stack for every logic that runs.

It helped the stack issue but changed the order of how logics are actually called, a lot of redux-logic tests stopped working and also existing features were brok

[2018-02-15 12:14] jeffbski commented on #83
Thanks for clarifying @askot, that helps.

I'm directing a retreat the next few days, but after that (Monday) I will be able to dive into that and see if I can figure out a solution.

[2018-02-22 12:15] pmualaba commented on #83
@ jeffbski
I guess the next obvious question is: has there been any real world failures in a redux-logic app due to this (on Mobile Safari or otherwise)? or is are you just doing due dilligence to anticipate potential problems?

Yes, same problem over here: We chose redux-logic for its scalability and capability to organize bigger and more complex applications, but now we face a showstopper just o

[2018-02-22 13:55] shauntrennery commented on #83
@pmualaba I seperated my logic arrays into two; core and app. The code below has resolved the issue for us.

`const middlewares = [
    routerMiddleware(history),
    createLogicMiddleware(core, logicDependencies),
    createLogicMiddleware(app, logicDependencies),
    noticeMiddleware
  ]`

[2018-02-22 14:16] jeffbski commented on #83
Thanks @shauntrennery , that is a good work around.

Yes @pmualaba it sounds like when one user got to 465 logics they started having problem. The exact number may vary by JS engine.

So it seems to me that this is only affecting a few users with large number of logics. The work around by splitting into multiple middleware instances will help go beyond that. However I am going to sit down this Sat

[2018-02-22 14:57] pmualaba commented on #83
@jeffbski  Thanks already for taking a look at it. In case it can not be fixed fundamentally, it could be considered to handle @shauntrennery 's workaround internally (for example auto creating of a new array every 200 logics ?), so that the splitting of logic can be abstracted away ?

[2018-02-22 15:52] jeffbski commented on #83
thats a good idea and will keep that in mind. thanks!

On Thu, Feb 22, 2018 at 8:57 AM pmualaba <notifications@github.com> wrote:

--
Jeff Barczewski
Founder of CodeWinds
http://codewinds.com/
Live and Online developer training

[2018-03-05 18:14] artificis commented on #82
Alright, I ended up writing like this: https://github.com/knocknock-team/react-app-suspenders
And I'm pretty much happy with this solution 🙂

[2018-03-05 18:14] #82 closed

[2018-03-05 18:22] artificis opened #93 "Make `dispatch` promisified"
For most of my projects, I have to multiple `dispatch` calls in `process` and I normally write like this:

[code]

But this (very occasionally) fails, because `fetchUser` relies on valid auth token and sometimes it was called before `setAuthToken` was completed, despite being dispatched order.

What about making dispatch a function that returns a promise? So that I can use `await` in front of it.

[2018-03-05 18:26] artificis commented on #93
FYI, here's my implementation for redux's `store.dispatch` patching.

`store.js`
[code]

`general-logics.js`
[code]

EE is an instance of EventEmitter (https://github.com/primus/eventemitter3)

[2018-03-05 22:07] artificis commented on #93
I replaced this monkeypatching with a redux middleware since monkeypatching looks a little hacky. Here's my simple middleware:

[code]

[2018-03-06 01:04] jeffbski commented on #93
@artificis is the action for setAuthToken not synchronous? I'm wondering why it would need a promise.

[2018-03-06 09:27] artificis commented on #93
This might sound a stupid case, but this is not the only case I face. There are other cases. For instance, I need to update intercom parameter if user logs in, and I want this action to be dispatched only after fetchUser action is complete. I know I can solve this by moving code that updates intercom parameter into fetchUser logic, but this breaks DRY principle if I need to update intercom data in

[2018-03-06 11:16] artificis opened #94 "Multiple Logics For Single Action"
Here's my demo code:

[code]

The idea is fetchUser action requires authentication and by doing so like above, allow fetchUser action dispatch or reject and force to redirect to '/login' page depending on authentication status.

There are many other actions that require authentication as well, not only fetchUser action.

I'm sure if `validate` and `process` properties are provided to a single logi

[2018-03-08 07:43] pmualaba commented on #83
Hello Jeff, do we already have white smoke ;-) ?

[2018-03-09 00:09] jeffbski commented on #83
@pmualaba not yet, but hopefully soon. I just wrapped up a big project, so I'll have time to dig into this.

[2018-03-13 00:07] jeffbski commented on #83
My plan is to create test code that generates and connects any number of logic and runs them in the middleware.

I should be able to reproduce the situation and then try some things to improve it.

[2018-03-16 10:39] PEZO19 opened #95 "redux-logic video course"
It would be great to see a video course on udemy (or youtube) where real world redux-logic and redux-logic-test are explained in depth by an expert. Thumbs up to make @jeffbski a reason to do it for us.

@jeffbski , I'm your first customer! :)

[2018-03-24 23:11] therealgilles opened #96 "Access original logic action payload parameters on cancellation?"
Question: If I have an action that has some payload parameters, how can I access those parameters in the cancellation action when it is triggered?

[code]

Is the solution/workaround to use cancelled$.subscribe() and dispatch another action with the parameters like this?

[code]

[2018-03-26 08:38] henninghall opened #97 "Possibility to filter on action parameters?"
Is there any possibility to filter actions on more properties than type? Something that achieves this in a cleaner way:
[code]

[2018-04-02 17:22] micahblu opened #98 "Dispatch does not work in axios catch callback"
I'm using axios for an ajax call with a timeout in place. When I mock the timeout which is handled by the catch() callback, dispatch does not work?

[code]
Thanks for any help

[2018-04-03 04:35] SkReD commented on #83
Hello, everybody
We have about 180 logics in one app and we are supporting app work on IE10+. So, on IE11 and IE10, sometimes, application crashing due to stack limit exceed.
Any clues about how to, probably, reduce call stack and save current behaviour, would be very appreciate.
Right now i'm trying to mess around with some promises that replace wrapped logics chaining, but with no luck

[2018-04-03 23:03] jeffbski commented on #83
I'm in the process of seeing how we can improve the resource usage in the observable chain.

In the meantime, it seems like others have had luck by splitting their group of logic into two groups. This should reduce the depth of the call stack.

You can basically create two (or more) logic middleware instances and pass a portion into each.

[code]

[2018-04-03 23:10] jeffbski commented on #98
That's very strange. So I assume you are seeing the proper err in the console.log and not something else.

I don't see anything wrong from what you have indicated here.

When you mock the timeout, is your axios.get still returning a promise? I remember a few times when I was mocking that I forgot to return a promise and that's why it wasn't working.

If none of that helps, could you provide more o

[2018-04-03 23:16] jeffbski commented on #97
Currently that is the way to do it, but in a future version I could provide a `filter` property as an alternative to type that would allow you to specify the filter predicate fn so you could do whatever filtering you want.

That would allow you to split up your logic items by requestType more easily.

I'll mark this as a feature request.

[2018-04-03 23:33] jeffbski commented on #96
That's a good question. Since these actions are independent then they don't have access to each others payload.

You could do something like you indicated using the cancelled$ to know when it cancels and then dispatch another action with the data like you suggested. However since the observable is in the process of cancelling, the dispatch might not go out. I'd have to test it to know the timing o

[2018-04-03 23:33] jeffbski commented on #95
Great idea! I will put this on my list. Thank for the idea.

[2018-04-03 23:41] jeffbski commented on #94
I believe I understand what you are asking.

If you validate and process in the same logic then yes the process will only get called if the validation hook had allowed rather than rejected.

If you split things like you have here it would also work fine as long as your auth logic is before your other logic. By calling reject with push('/login') you are stopping the original action from going down

[2018-04-03 23:44] jeffbski commented on #94
So yes, what you have would work as long as the auth comes before any other logic it needs to protect against when you registered it with the logicMiddlware. So just put the auth logic earlier in the array and you should be good to go.

[2018-04-04 10:11] therealgilles commented on #96
It seems to work without having to pass store.dispatch through middleware.

[2018-04-04 10:11] #96 closed

[2018-04-04 11:41] henninghall commented on #97
Thanks for the reply, that would be great solution!

I am not sure if this is a bad option but wouldn't it also be possible to use the current validate property and change it to accept a boolean return value instead of allow/reject? Like this:

Current implementation:
[code]

Validate that accepts boolean return values:

[code]

[2018-04-05 20:36] micahblu commented on #98
@jeffbski I do see the proper error. I also confirmed that axios is returning a promise. So I've removed axios completely to try and isolate the issue and lo and behold with even setTimeout(), the dispatch within timeout does not work?

So now I have:
[code]

[2018-04-14 23:52] jeffbski commented on #98
Is there any chance that doSomething() is throwing an error?

Or another thing could be that when it actually tries to dispatch that it is causing an error somewhere maybe in a reducer?

[2018-04-16 19:59] micahblu commented on #98
@jeffbski This was an unrelated issue found on my end. I really appreciate your help and patience. Sorry for the false alarm!

[2018-04-16 19:59] #98 closed

[2018-04-17 01:06] jeffbski commented on #98
excellent! I'm glad you found it.

[2018-04-17 17:11] againksy opened #99 "Are you planning to update webpack?"
Are you planning to update webpack and maybe other components/libs?

[2018-04-18 20:30] sanbornhilland opened #100 "Errors thrown inside logic are swallowed"
Errors getting thrown inside logic handlers are swallowed and the only indication you get is the generic `warnTimeout`. I'm not sure of the intended behaviour here but it seems problematic to me that errors like the following are not easily visible.

[code]

Do you have any suggestions on how this can be handled currently or how we can update the package so that these kinds of errors aren't lost?

[2018-04-19 19:36] hkjpotato commented on #10
For anyone still having the same issue, I think u might encounter this problem when u want to bundle babel-runtime into either common chunk or webpack DLL. It is not going to work because babel-runtime does not have a 'main' in their package json, it is exposed as several utilities function, not as a module. Thus it can not be resolved.

[2018-04-24 07:10] jmullo opened #101 "Feature suggestion: dispatch failType if Error object returned from process()"
Is this project still alive? :)

Yes, I can return a rejected Promise containing the error object, but it feels unnecessary.

[2018-04-24 14:16] jeffbski commented on #101
I guess that could be a possibility. Will give it some thought.

[2018-05-02 15:41] cyrilchapon opened #102 "Order of logics in array followup #82"
Hey :) expanding on #82

I'm writing some kind of chat bot, and I got the following use case :

User types something and hit "submit"
I dispatch a specific action (say "ANSWER/SUBMIT_SURNAME")

Then I'd like to grab it like this
- Add a logic that prints user answer
- Make some validations about it
- Process it

So I naturaly thought about 2 logics on the same action :

pseudo-code
[code]

What I'

[2018-05-03 08:27] cyrilchapon commented on #88
I'm trying to use redux-logic along with redux-thunk (this is a transition, not to recode my entire application)

Inside a logic, I'm trying to use the dispatch returned promise of a redux-thunk action, to take advantage of redux-thunk's *"Any return value from the inner function will be available as the return value of dispatch itself."*, but this doesn't work as `dispatch` is overriden with a cu

[2018-05-07 17:37] jeffbski commented on #102
That's an interesting use case which could work well since we have access to the action observable stream. I'll think about how we might implement and see if any additional features are needed to support this.

[2018-05-07 19:27] jeffbski commented on #101
After thinking about it, I think that would be a safe and reasonable addition to the API.

[2018-05-07 23:29] jeffbski commented on #52
original defect is fixed in #103

[2018-05-08 03:03] jeffbski commented on #52
Deployed in v0.12.4.

Thanks again @TraceyK14 for helping me find this.

[2018-05-08 03:03] #52 closed

[2018-05-08 03:05] #51 closed

[2018-05-08 16:56] jeffbski commented on #51
deployed in v0.13.0

[2018-05-28 05:08] simon998yang opened #106 "common use case, intercept "Save" or some other actions and redirect to login page"
I think it's very common that we need to intercept some actions like "Save" , then do some check i.e user log in or not. if not , then redirect to login page. once log in successfully, then re dispatch the origin action .

I haven't seen such example from redux-thunk or redux-saga, not sure this can be done easily with redux-logic  or not.

[2018-05-28 16:01] jeffbski commented on #106
thanks for writing this up @simon998yang.

Yes, this is fairly easy, many ways you can handle it. Since redux-logic can actually intercept actions then this becomes easier than with redux-thunk and redux-saga which can only process after action has been sent.

One way to do this would be to use an intercept (validate) hook and check if logged in. If not logged in then reject with a new action that

[2018-05-28 16:04] jeffbski commented on #83
I'm still working on it. I'm trying to see if we can avoid having to split by optimizing something in the pipeline but the work around will still work in the meantime of splitting into separate instances.

[2018-05-29 01:13] simon998yang commented on #106
Great even only hearing the idea. looking forward to your example.

[2018-06-05 21:48] fgiarritiello commented on #75
Another approach to make the logic function more generic (what if I want to use the same logic but not redirecting to a different url?) is to pass a callback with the action payload:

`process({ http, getState, action }) {
		return http
			.post(`${SERVER_URL}/api/employees`, action.payload)
			.then(resp => {
                                // do not change route here, instead...

[2018-06-11 03:09] bbthorntz commented on #88
@cyrilchapon had a similar issue (also migrating older code). Since your thunk returns a function expecting `dispatch` and `getState` you can satisfy that requirement manually.

[code]

[2018-06-12 10:01] gdo opened #107 "Question: How to use the firestore listener ?"
Hello,

I use redux-logic for my site and it work very well but I don't understand how to combine redux-logic and  firestore listener.

an example :
`
export const display = createLogic({
  type: [AUTH_USER],

  process({ getState }, dispatch, done) {
    const state = getState()
    const userID = authSelectors.userID(state)

      if (!unsubscribeFirebase) {
        const db = firebase.firestore

[2018-06-13 20:43] jeffbski commented on #107
Since this logic will be responding to many updates then you don't want to call done (unless you are completely finished listening).

So your callback in onSnapshot will be called every time the botReducer collection updates. Thus just omit calling done in your logic and you'll continue to get updates.

You can set processOptions.warnTimeout to 0 so it doesn't complain about your logic staying ope

[2018-06-13 21:52] jeffbski commented on #88
@cyrilchapon I think the easiest thing to do would be to use the storeDispatch for this purpose (the one you are passing in deps) at lease until you can get rid of thunks completely.

The only difference in using store.dispatch versus process's dispatch is that process's dispatch can prevent dispatching if the logic was cancelled. So if you are not worried about that occurring you should be good t

[2018-06-14 07:34] cyrilchapon commented on #88
@jeffbski, thanks about that 😄

I went like this, and it worked indeed. But thanks for clarifying the cancellation stuff, that's the kind of specificity I was talking about, I couldn't guess myself.

[2018-06-14 12:37] gilbsgilbs opened #108 "[Questions] What is "done" for? How to orchestrate actions within one logic?"
Hi,
Sorry if it's not the intended place to ask these questions, but I didn't find a gitter or any mention of where to ask questions.

I find redux-logic really cool. Though there's some tiny things I don't understand.

## What is the purpose of the done function?

In the `process` function, a `done` parameter is passed. Why am I supposed to call I'm done dispatching? What happens if I forget to c

[2018-06-14 21:34] jeffbski commented on #108
@gilbsgilbs thanks for the questions. Yes this is a good place to ask questions.

redux-logic has several different ways it can be used.

1. using callbacks
2. returning a promise
3. returning an observable

Each of these is useful depending on what your team's comfort level is.

Most people start out with the callback approach since it is very flexible and similar to other things they have seen o

[2018-06-15 22:21] jeffbski commented on #108
I'm planning on adding some features that will make it easier to wait for certain actions before proceeding. There are some use cases that could benefit this.

As for what you can do with redux-logic as it is now, you can take advantage of the validate hook. You can intercept the FETCH_USER_DATA action and determine that the user is not logged in, so instead you can issue a different action like R

[2018-06-16 13:08] gilbsgilbs commented on #108
Many thanks for your time, @jeffbski .

[2018-06-16 13:08] #108 closed

[2018-06-16 17:49] jeffbski commented on #108
You are quite welcome!

[2018-06-21 18:46] stefan-karlsson opened #109 "feat: add support for rxjs 6.x.x"
Currently working with a application using rxjs version 6.2.1.

I am in the process of trying to remove the [rxjs-compat](https://www.npmjs.com/package/rxjs-compat) library. When removing the library ill get this error output:

Errors is due to that rxjs 6 has breaking changes, [that can be found here](https://github.com/ReactiveX/rxjs/blob/master/docs_app/content/guide/v6/migration.md)

[code]

[2018-06-25 21:56] jeffbski commented on #109
You read my mind. I have already been planning the upgrade to 6 and will begin shortly. I'm excited about the changes that 6 brings. Composability is really nice with the new version using pipe, much better than the chaining. I'll write up my plans and get branch up soon.

[2018-06-26 07:43] stefan-karlsson commented on #109
Sounds great, please tell me if any help is needed.

[2018-06-26 12:53] yyynnn opened #110 "Make compatible with redux 4"
Hi, i love this package!
Do you plan to update to redux 4 ?

[2018-06-26 17:40] jeffbski commented on #110
Thanks for the encouragement!

Yes, I will update to redux 4 and release before updating rxjs. It doesn't look like it will take any code changes to support. Maybe I should just relax the peerDependency to redux >= 3.5.2 which would allow 4+ to work as well.

If redux ever truly breaks their API in a future release then I can come back in an put in a cap, but otherwise it should be easy for people

[2018-06-30 01:18] robertqjohnson opened #111 "REDUX-LOGIC (TypeError: Cannot read property 'toString' of undefined.)"
Hello,

I’m using redux-logic 0.15.0 and I’m getting the following error:
•	TypeError: Cannot read property 'toString' of undefined.

I debugged the createlogic and createlogicmiddleware JavaScript files and found out that the following createlogicmiddleware function is returning type undefined to the stringifyType function in utils.js.  The field Tranform has a value of undefined if it’s not used

[2018-07-03 12:51] kschiffer commented on #111
I had this problem as well and the problem was that I exported an array of logics instead of the logic itself. I see you did this as well, so depending on how you apply this logic in the middleware, you might have the same issue:
[code]
should be:
[code]

[2018-07-03 15:29] robertqjohnson commented on #111
Kevin, I just tried your solution and it fixed my typescript error.  THANK YOU VERY MUCH for the quick response and resolution.  I have been trying to resolve this for the past three days and I really appreciate your feedback.  Have a happy and safe 4th of July.

[2018-07-03 16:07] KevinAst commented on #111
@robertqjohnson: while this is a nice sentiment, I doubt if @kschiffer celebrates American Independence, since I believe he is German living in Amsterdam :-)

SideBar: @kschiffer, lest you think I am a stalker, I was researching your website.  Very Nice!  I am unfamiliar with .tpl template files ...  Is this part of NunJuncks?  Have you ever researched the react static site generator called Gatsby

[2018-07-04 09:31] kschiffer commented on #111
@robertqjohnson Cool that you like my website :).
Indeed these are nunjuck files – I know gatsby but I think it can be a little overkill for small sites. I like to be in full control, especially for small websites so I decided to more or less go from scratch and use a simple templating engine that just fit my basic needs.
As far as Static Site Generators go, I can also recommend [Hugo](https://goh

[2018-07-05 11:55] KevinAst commented on #111
Before closing this issue, it seems like there is an opportunity to improve redux-logic.

If I understand the issue, `createLogicMiddleware()` is erroring out in a very obscure way, while interpreting in invalid client input parameter.  If this is correct, it seems like the library should perform better type checking, emitting a more appropriate error ... say this:

[code]
Instead of this:

[code]

[2018-07-05 21:30] kschiffer commented on #111
Definitely agree. I had to dig quite a bit into my debugger to understand the issue. A more helpful error message would make troubleshooting a lot easier.

[2018-07-09 21:10] jeffbski commented on #111
Thanks for bringing this up. Yes, we can certainly improve the validation in createLogicMiddleware which would hopefully have helped catch this error sooner.

[2018-07-09 21:10] jeffbski commented on #111
I'll reopen so I remember to add more validation.

[2018-07-17 14:23] gdo commented on #107
Thanks, it's work very well.

[2018-07-17 14:23] #107 closed

[2018-07-23 14:55] giveli opened #113 "wait"

[2018-07-23 14:56] #113 closed

[2018-08-01 10:09] naorye commented on #88
@jeffbski Hi,
I had another case when I needed to wait for an action to complete.
I have the following logic:
[code]
I need to wait for `addBillingCard()` to complete before calling `buyItems()`.
I wrote a middleware that should help me solve this issue and I'd like to know what do you think:

[code]
and after applying the middleware, this is how the logic will be:
[code]

My middleware is waiting

[2018-08-01 23:40] jeffbski commented on #88
@naorye That's pretty ingenious. I was pondering some ways we might build that in to redux-logic, but haven't settled on a definitive approach yet.

Seems like your solution will meet the need. Nice job.

[2018-08-06 23:34] jeffbski commented on #8
added in 0.15.3

[2018-08-06 23:34] #8 closed

[2018-08-07 15:00] chmaltsp opened #115 "[0.15.3] Typescript Error: Undefined does not meet it's constraint 'object'"
Hello

Thanks for getting the typescript typings in. Maybe I am doing something wrong, but when using 2.9.2 you cannot extend an object and set the default to `undefined`
![screen shot 2018-08-07 at 10 50 22 am](https://user-images.githubusercontent.com/10981965/43783434-ba6b966c-9a2f-11e8-9093-6422dfd74cf6.png)

Setting changing the definition to
[code]

helps but then `action.payload` ends up be

[2018-08-08 09:30] mike-niemand opened #116 "Question: Multiple dispatches on loader"
Hi All,

I've spent several days on this and cannot get it to work. I have to call multiple different dispatches on a loading screen. I've gone through the examples but dispatch doesn't appear to return a Promise. I have tried removing done and other approaches.

 e.g.

`Store.dispatch({type: 'GET_STORES'});`
`Store.dispatch({type: 'GET_CATEGORIES'});`

The logic is as follows:

[code]

How can I

[2018-08-08 14:52] alvis commented on #115
@chmaltsp Thanks for reporting. I apologise as I forgot this syntax will cause a problem with "strictNullChecks". The reason of using the 'undefined' type is to take the advantage of the news conditional type, so that for example if the payload is set to 'undefined', the resulting action object would not have a payload field.

I'm working on a fix on it and would make a PR soon.

[2018-08-08 22:10] alvis commented on #115
@chmaltsp #117 should now resolve the problem.

Also thanks for pointing out the recommended types for `payload` and `meta` too. I'm working on it.

[2018-08-09 00:17] #115 closed

[2018-08-13 10:05] mike-niemand commented on #42
How are users dealing with this?

[2018-08-13 14:36] jeffbski commented on #116
Since logic can run not only once but zero (cancelled) to many times (observable) and even non-ending, there wasn't a nice way to signal being done in all cases.

I typically have my API or data layer be free of redux things, so it could return a promise resolving to the data. Then I do whatever dispatching in logic.

If I have multiple things to do then I would fire them off together from the sam

[2018-08-15 21:52] sanbornhilland commented on #83
Has there been any movement on this issue since May? I ended up here because I'm trying to understand what the performance impact is of having many logics registered in an application. I'm not having any failures per se (e.g. hanging) but I am seeing the same deep callstacks as other users and some long running tasks that are causing the FPS of our application to dip. It's unclear to me currently

[2018-08-16 04:36] jeffbski commented on #83
@sanbornhilland I think you are right, unregistering logics would reduce the working stack size. So besides splitting into different instances this should also help.

So basically if you want to do that, you would keep hold of the logicMiddleware instance (I usually tack it onto the store after creation) then call replaceLogic to swap out some middleware. mergeNewLogic to add new logic at runtime.

[2018-08-20 11:39] alexgvozden opened #118 "Examples are failing"
Most examples are failing

I disabled ad blockers and similar still an issue

<img width="773" alt="screen shot 2018-08-20 at 1 37 37 pm" src="https://user-images.githubusercontent.com/127109/44338521-66109f00-a47e-11e8-8609-7c8a8d1b0219.png">

might be jsfiddle issue?

[2018-08-20 17:11] jeffbski commented on #118
I'll check into it. Thanks for the heads up.

Will likely be later this week since I will be busy at JSConf. Giving a talk tomorrow.

[2018-08-20 17:34] shauntrennery commented on #118
@jeffbski awesome, good luck for the talk. Looking forward to watching the video later.

[2018-08-21 04:59] jeffbski commented on #118
@shauntrennery Thanks!

[2018-08-23 09:21] nikksan opened #119 "Issue when used with redux-form"
I have a form which I want to validate on the client side, aswell as on the server side. The client side validation is handled by the `redux-form` package and the server side is handled using `regux-logic`.
In order to trigger the the redux form error I must throw `SubmissionError`, however if I try to do that in the process method the error is thrown on the global scope and is not handled by the

[2018-08-23 09:28] DiegoBM commented on #109
Any updates on this?

[2018-08-23 11:07] nikksan commented on #119
I eventually fixed it. The issue turned out to be more related to the `redux-form` package, rather than `redux-logic`

[2018-08-23 20:51] luq10 commented on #29
@ms88privat @jeffbski This is realy isteresting, but i have one question:

In this example with deleting post - How i can combited action `deletePost` with specify action `deletePostOnViewPostEdit`?

[code]

Ofc. i can repeat the logic `deletePost` in `deletePostOnViewPostEdit` like this:

[code]

but i don't think that this is a good idea (DRY rule). In this case i don't repeat to many of my code

[2018-08-28 10:57] Johncy1997 commented on #88
actions.js:
****************
     export function  login  (credentials) {
    console.log("actions/login called");debugger
       return async dispatch=>{
       await fetch("url",{
            method:'POST',
            body:JSON.stringify(credentials),
            headers:{
              "Content-Type":"application/json"
            }
          }).then( res => {
            console.log("res.json

[2018-08-28 17:38] PEZO19 opened #120 "Similarities to Relay? Relay-logic?"
Maybe it is a little bit too vague question. @jeffbski, do you have experience with Relay? What do you think what similar problems come up when using Relay (vs. Redux) and how they are solved compared to Redux-Logic?

[2018-08-29 09:54] dominikkurbiel opened #121 "Handling oAuth refresh token"
Hello,

I have oAuth authorization in my app. But I'm confused with the implementation of refresh token service.

At the moment I created instance of axios and apply to logic middleware.
After login I use my AuthService to set headers with authorization token to my axios instance, and set tokens to localStorage.

Then I create axios interceptor to handle 401 error and send request to get new token

[2018-08-31 17:17] jeffbski commented on #118
I'm working on these. I'll probably end up switching to code sandbox for the online examples. jsfiddle has been less than ideal.

[2018-08-31 19:42] christopherbot opened #122 "Middleware after transform hook is not always triggered"
redux-logic version: `0.15.4`

One of my logics contains both a `transform` and a `process` hook for a particular action. The transform hook waits for some async data to be retrieved before dispatching the action. It looks something like this:

[code]

The issue I'm having is that _sometimes_ the next piece of middleware does not get triggered and the reducer does not get hit. The action has been

[2018-08-31 21:29] jeffbski commented on #122
@christopherbot thanks for writing, we'll try to figure out what is going on. The reason that logicActionObs might have isStopped: true is when the observable has hit something that makes it think it is done emitting and thus it will not send out the next action. Things that can cause this to happen might be:

 - cancellation of an action - but from your example it doesn't appear you have the canc

[2018-08-31 22:14] jeffbski commented on #118
I have moved the examples to CodeSandbox and updated the readme links to point to them.

[2018-08-31 22:14] #118 closed

[2018-08-31 22:46] jeffbski commented on #122
I assume that this was an example where it worked?

Is it possible for you to repeat until you can find a situation where it didn't work as expected and provide those monitor logs?

[2018-09-01 18:57] jeffbski commented on #99
updated to babel@7.0.0 and wepack@4.17.1 in redux-logic@1.0.0

I had already updated a bunch of the other components previously.

Am working on the rxjs@6 update since it is a bit more involved.

[2018-09-01 18:57] #99 closed

[2018-09-06 23:43] jeffbski commented on #122
Yeah, that sounds like maybe that could be this missing piece of the puzzle, nothing else seems like it could be causing the problem.

PS. I just pushed redux-logic@2.0.0 which has optimizations to dramatically increase the number of logics you can run since it tunes the pipeline omitting steps for features one is not using. In most use cases this should reduce the stack depth considerably.

[2018-09-06 23:43] jeffbski commented on #109
Added in v2.0.0, just published today.

[2018-09-06 23:43] #109 closed

[2018-09-06 23:49] jeffbski commented on #83
After updating to rxjs@6, I took some time to optimize the code for v2.0.0 so that it would be more efficient with stack usage. Basically if a particular logic isn't using some of the features (debounce, throttle, latest, validate/transform, process, etc.) then I optimize out the extra code from the pipeline which in turn reduces the stack size. Obviously it will depend on your individual use case

[2018-09-07 00:26] #122 closed

[2018-09-07 00:39] jeffbski commented on #122
awesome!

[2018-09-13 07:32] henninghall opened #123 "Question: A way to wait for actions within process?"
Great library, appreciate it!

I have previously used redux saga and their effect creator "take" which waits for an action before continuing. Is there a way to achieve this in redux-logic?

It could hypothetically look like this:

[code]

[2018-09-13 12:12] jeffbski commented on #123
Thanks for the kind words.

Yes, with the latest version (v2), you now have access to the full action stream as `action$`.

We can listen to action$ and wait for one or more actions before continuing.

I need to add some examples but for your example it would look something like this.

PS. you will need access to rxjs 5 or 6, I'll use v6 for the example below

[code]

[code]

Technically you don't

[2018-09-13 19:47] henninghall commented on #123
Nice, awesome answer! 👍
That's great, I will definitely try it out! May not be as clean syntax as the "take" in redux-saga but since the rest of the redux-logic syntax is much more in my taste, it's probably something we will go with.

[2018-09-13 19:47] #123 closed

[2018-09-14 12:11] jeffbski commented on #123
Thanks! yeah, I am thinking about how I might make this type of thing more native so one wouldn't have to jump out to observables, but it's not too terrible with the raw code.

[2018-09-14 12:16] jeffbski commented on #88
@Johncy1997 I'll take a look and see if I can figure out what might be going on.

[2018-09-27 23:59] saurabhsood91 opened #124 "reject in transform hook for Typescript"
Looking at the documentations for the `transform` hook, there seems to be a `reject` parameter. Also, it is mentioned that we can pass undefined to forward nothing (or reject the action)
https://github.com/jeffbski/redux-logic/blob/master/src/createLogic.js#L110

I tried making use of this in Typescript, but I do not see the `reject` parameter in the type definitions.
https://github.com/jeffbski/r

[2018-09-30 00:56] jeffbski commented on #28
FYI. I have a more recent example using redux-logic@2 and rxjs@6

https://codesandbox.io/s/m38l7n745y

[2018-09-30 00:56] #28 closed

[2018-09-30 01:00] jeffbski commented on #76
I've added action$ (stream of actions in v2) so you can listen for actions and operate on the stream now.

I have some examples:

 - drag and drop - https://codesandbox.io/s/n34x5j3jv4
 - websockets - https://codesandbox.io/s/m38l7n745y

[2018-09-30 01:00] #76 closed

[2018-10-03 02:58] bbthorntz opened #126 "Test failing since v2.0.0"
Since updating to version 2.0.0 we have some failing tests. I have produced a reduced example below:

[code]

You can see the failing test in a Code Sandbox here:
https://codesandbox.io/s/949yypmly4

I'm assuming that this is probably not an issue when using `redux-logic-test` (I haven't tried yet) but it's weird nonetheless that it only fails since `redux-logic@2.0.0`.

If this is expected behavi

[2018-10-03 04:17] bbthorntz commented on #126
Just a follow-up to say I re-wrote this with `redux-logic-test` and it works as expected:

[code]

https://codesandbox.io/s/8zojrk0w59

[2018-10-03 12:04] jeffbski commented on #126
@bbthorntz Thanks, that reminds me that I need to update redux-logic-test's peer deps so they are broader. I'm guessing that in the original test, one would have to wait slightly longer for all the actions to be delivered (like we do when using whenComplete).

I have updated redux-logic-test@2 to allow a broader range of redux and redux-logic.

[2018-10-03 22:44] jeffbski commented on #124
Yes, the transform hook and validate hook are the same so you can use a reject. The two hooks exist to provide some description of how you are using them and in most cases if people need to reject they are using validate, while transform they typically use just the accept.

However you are correct that the typescript def should allow both. Thanks for the PR. I am merging it now.

[2018-10-03 23:01] jeffbski commented on #126
@bbthorntz I've updated your original test with redux-mock-store to have it wait for actions to complete. See it here https://codesandbox.io/s/olplx0l4vy

[2018-10-03 23:01] jeffbski commented on #124
It landed in v2.0.1

[2018-10-03 23:01] #124 closed

[2018-10-04 01:30] bbthorntz commented on #126
@jeffbski thanks! Other than being slightly more terse, is there any benefit to using `redux-logic-test` vs. `redux-mock-store`?

[2018-10-04 12:50] mihaisavezi commented on #119
@nikksan  How did you fix it, I am running into the same problem

[2018-10-04 15:07] hadim opened #127 "Best approach to keep pulling GET requests from backend server"
Hi,

This lib looks super nice and I am tempting to integrate it into a project. I would like to know if you have an opinion on the best approach to keep pulling GET requests from backend server.

When the user login I need to start this infinite loop to keep getting data from the backend server at regular interval and cancel the loop when the user logout.

Then according to the type of message re

[2018-10-04 15:10] hadim commented on #127
Here is an idea, make a `getLogic()` that receives a GET request then do two things:

- Dispatch according to the type of message.
- Call `getLogic()` again.

[2018-10-05 07:13] mihaisavezi commented on #119
import { stopSubmit } from 'redux-form/immutable';

If anyone else had this problem, you don't actually throw a SubmissionError. You use one of the actionCreators in the library. I just call

[code]

[2018-10-06 01:11] skbolton commented on #127
I can lump my question in with this too since I think mine is similar. Lets say I have a page that needs to poll the server for updates. I was thinking on mount the component would dispatch an action saying "subcribe me to updates on the server". Then on unmount the component would dispatch the cancel action to stop it from happening.
Maybe along the lines of this? Sorry I am sure I am missing som

[2018-10-07 14:48] jeffbski commented on #126
I hadn't seen it before, but it looks to be pretty comparable. You should be fine to use either.

[2018-10-07 14:53] jeffbski commented on #119
Thanks for providing the followup @mihaisavezi

I haven't used redux-form in a while, I've been using formik these days since it is easier to test with (no need to setup a store).

https://github.com/jaredpalmer/formik

[2018-10-07 15:49] jeffbski commented on #127
Thanks for the question @hadim and @skbolton. @skbolton you are on the right track here. There are many ways to approach it, but you tackled it the way I would.

If you just need to do the same dispatch on every response then you could do it like this
https://codesandbox.io/s/z24nm345mp

If you need to do additional dispatching besides the results then see this example
https://codesandbox.io/s/j36

[2018-10-07 19:07] skbolton commented on #127
Thanks for the response @jeffbski this library has been awesome so far. Just to complete my understanding and to get me the rest of the way there when I am testing this logic it would never actually call complete right? In other words
[code]
wouldn't actually get fired right? This would be okay because I am using a library to fake time going by and I can still test it

[2018-10-07 19:39] hadim commented on #127
Thank you for this very detailed answer! That will be very useful.

[2018-10-07 21:27] jeffbski commented on #127
@skbolton yes, that is correct it would not complete unless you fire the cancelType, then it would actually complete.

You are both welcome!

[2018-10-07 22:47] skbolton commented on #127
@jeffbski need any help on this project for hacktoberfest?

[2018-10-09 11:43] jeffbski commented on #127
Thanks for offering @skbolton. I'll give it some thought. Probably the biggest need is for more docs, like specifically a nice guidebook, or recipebook for using redux-logic in a variety of common use cases.

[2018-10-11 14:18] skbolton commented on #121
It would be good to see your logic that is doing a call with this http client. On the surface things look fine but would need to see the call site.

[2018-10-25 21:38] skbolton commented on #127
For the most part this has been working great but I am having a problem. The actions are all being dispatched in this example but cancellation has stopped working
[code]
Is there something that you see here. The feature was working but I have recently added the tap that logs the `.ACTION` dispatch. Before I was just using dispatchReturn

[2018-10-25 22:02] skbolton commented on #127
Not sure if this is an issue with my rxjs understanding or this library. I have code that was working well that looked like this.
[code]
I had to add the feature that a pending action would get dispatched (the `.ACTION`) call below. This dispatch is to know when we are pending on a network request going out polling for data. The change led me to this.
[code]
This works except the cancellation stop

[2018-11-02 00:11] skbolton opened #130 "Composing processors"
I am having a hard time coordinating processors in my app. I'll try and come up with a contrived example to explain my problem. Lets say that I already have a processor `A` that handles liking a post, and a processor `B` for commenting on someones post. Later a requirement comes to be able to like and comment on someones post.

My thinking was that I can in a new processor `C` that could dispatch

[2018-11-02 00:42] skbolton commented on #130
I should also mention that my processors are doing this with rxjs and part of my confusion is the observable part

[2018-11-05 12:59] jeffbski commented on #130
@skbolton thanks for reaching out. There are lots of ways to approach this and each will have its own trade offs.

Regardless of how you approach it, somewhere in your code you will be determining what gets done for a particular set of actions. We can move that around but it will still exist somewhere. So whether you are using separate actions and logic for each or whether you have one that listen

[2018-11-05 23:07] xreef opened #131 "Dispatch more than one action on reject"
Hi,
is It possible to dispatch more than one action on reject in validation?

Like so:
`
    } else { // errors, send a CONFIGURATION_FIELD_INVALID action instead
      dispatch(addNotification("Hi"); <-----
      reject(configurationFieldInvalid(errors, fieldUpdate));
    }

`

Thank for your work, bye

[2018-11-06 16:26] xreef commented on #131
It's perfect. Thanks

[2018-11-06 16:26] #131 closed

[2018-11-06 18:45] kevinnguy opened #132 "Debounce issue with multiple logics of the same action type"
In this following code:
[code]

I expect the console log output to be:
[code]

but I'm getting:

[code]

I expect `firstLogic` to be processed immediately when dispatching its action type but it seems like the `debounce` param from `secondLogicWithDebounce` is applying its operators onto other logics that share the same action type. Is this behavior normal?

Thanks for the awesome library @jeffbsk

[2018-11-06 22:16] deadNightTiger opened #133 "Feature request: Implicit typing of actions using TypeScript type guards"
If you have a function with a signature like `(action: any) => action is FooAction` in your `type` field, `action` should be `FooAction` in the hooks.
Proof of concept:
[code]
Unfortunately I'm not too familiar with this project's definitions to make a PR in the near future.

[2018-11-11 11:58] deadNightTiger commented on #133
Made a PR not using the type guards, but the return type of the action creator: #134

[2018-11-11 11:58] #133 closed

[2018-11-16 01:02] therealgilles commented on #28
@jeffbski: The example is missing error handling through failType. How should I add it back in?

[2018-11-16 19:49] therealgilles commented on #28
From what I can see, the example is not tracking the connection status, it's tracking the state of the connect/disconnect button, which is not the same thing.

I am not sure how to implement error handling. If you could point me to an example or documentation, it would be great.

The older version of the example also had a retry mechanism in case of disconnection, which is missing here. In my app,

[2018-11-19 03:07] Shannor opened #135 "Typescript Examples?"
I'm starting to use Typescript in a project and I've used Redux-logic in pretty much all my previous projects. With Typescript though it's been a challenge. I haven't seen that many examples, so I was wondering if there are some can we get them into the docs?

I've only seen one example which isn't even the simplest case. I'm going to keep trying to figure out how it wants things structured in the

[2018-12-02 21:02] bisubus opened #136 "Promise/observable returns in validate/transform/process hooks"
It appears that hooks doesn't fully benefit from promise/observable returns. The suggestion is to use promise and observable returns and make callback API optional.

The library already relies on hook functions arity, this could be used to change their behaviour based on function parameters.

This `validate` hook

[code]

could become

[code]

`validateOptions`/`transformOptions` could possibly be

[2018-12-14 10:31] noashka opened #137 "How init redux-logic when app starts to initialize. Without using type"
Hello guys. I can't find answer for a simple question. Maybe you can help me. I use redux-logic in a project. In the project I need to get some default data, for example - currentUser. I dont't want do it in the componentDidMount and dispatch action. How I can init redux-logic when my app starts to initialize ?

[2018-12-19 16:12] cgerikj opened #138 "Crash: "Invariant violation: Objects are not valid as a React child""
Hi!

I'm getting a very strange error when running my app in prod on Android (it also happens when I disable dev mode):
Invariant Violation: Objects are not valid as a React child (found: object with keys {$$typeof, type, key, ref, props, _owner})

What causes the error is this line:
const logicMiddleware = createLogicMiddleware();

Even if I don't use the middleware it crashes. Even after removin

[2018-12-19 16:50] sanbornhilland commented on #138
@cgerikj That's a [React error](https://stackoverflow.com/questions/33117449/invariant-violation-objects-are-not-valid-as-a-react-child) so it sounds like the issue is not a `redux-logic` issue but is instead somewhere in your React code. Without having more information it sounds like that line is perhaps just uncovering a bug that exists elsewhere. Maybe your logic is causing some data to be set

[2018-12-19 17:04] cgerikj commented on #138
Hi, thanks for replying! I know it's a react error. It's crashing with an empty logics array so it shouldn't be doing anything and I have even tried to render nothing but an empty View.. :(

[2018-12-19 18:17] sanbornhilland commented on #138
@cgerikj I see. It's hard to diagnosis it without further access to the code that is failing. Have you been able to track down exactly where the error is thrown?

[2018-12-20 12:37] cgerikj commented on #138
@sanbornhilland I will try to track it down in January and let you know if i find it! :)

[2019-01-02 14:57] henninghall commented on #138
I manage to reproduce the bug by:
1. `react-native init --version 0.54.2`
2. `yarn add redux-logic@2.0.3`
3. Adding `import { createLogic } from 'redux-logic'` in App.js

[2019-01-02 16:08] henninghall commented on #138
Im not sure why but when removing all rows of `require("core-js/modules/es6.symbol");` in the build files it seems to work.

It also works by running the source files instead of the build files by changing `"main": "build-lib/index.js"` to `"main": "src/index.js"` in package.json

[2019-01-03 12:46] costolo commented on #137
You could write an action that redux-logic intercepts, and dispatch it when your store is initialized.

e.g.:

// store initialization code
store.dispatch(appInit());
export default store;

[2019-01-03 15:06] noashka commented on #137
Thank you for response! It's good idea. I'll try it.

[2019-01-03 15:41] costolo commented on #137
No worries!

[2019-01-09 08:48] yyynnn commented on #37
No problem solved for me. I still get initial state data in the component while SSR. I'm doing this in a async renderer:

[code]

Like whenComplete ignore logic completion

[2019-01-09 10:20] yyynnn opened #139 "SSR whenComplete not helping"
Hi there! Great lib. Having trouble getting state from api call while doing server side render. All i get is the initial state of the reducer. How to wait for store to get a new state? (using redux-logic, recompose)

[code]

Like whenComplete ignore logic completion